<div class="attribute-box">
    <div class="label" style="grid-column: 1 / span 12"><label><a data-action="configureProperties">{{localize "Qualities"}} <i class="fas fa-cog"></i></a></label></div>
    <div class="field" style="grid-column: 1 / span 12"><input type="text" value="{{item.system.OriginalQualities}}"></div>
</div>
<div class="attribute-box">
    <div class="label" style="grid-column: 1 / span 12"><label><a data-action="configureProperties">{{localize "Flaws"}} <i class="fas fa-cog"></i></a></label></div>
    <div class="field" style="grid-column: 1 / span 12"><input type="text" value="{{item.system.OriginalFlaws}}"></div>
</div>