.warhammer.application {
    &.roll-dialog-v2 {
        .window-title {
            text-align: center;
        }

        .dialog-base {
            .form-group {
                .form-fields {
                    width: 3rem;
                    flex: 0 0 3rem
                }

                ;
            }

            .dialog-fields {
                flex: 0 0 10rem;
            }
        }

        .form-group {
            label {
                text-align: center;
            }
        }

        div[data-application-part="specific"]
        {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    &.item-properties {

        .property-columns {
            overflow: auto;
            display: flex;

            >* {
                flex: 1;
            }

            input.value {
                flex: 1;
                align-self: left;
            }

            input.group {
                flex: 0 0 1.5rem;
            }

            input[type="checkbox"] {
                flex: 0 0 2rem;
            }
        }
    }


    &.career-selector {

        --border: var(--color-cool-3);
        --selected: var(--color-warm-3);
        --inclass: var(--color-level-success-bg);
        --outclass: var(--color-level-warning-bg);
        gap: 0px;

        .dialog-item {
            &.tier-1 {
                border-top: 0px;
            }

            &.active {
                background: var(--selected);
            }

            height: 2rem;

            img {
                width: 2rem;
                flex: 0 0 2rem;
                height: 2rem;
            }
        }

        h2 {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 0.2rem 0px 0.1rem 0px;
            font-size: 1.5rem;

            &.out-of-class {
                background: linear-gradient(90deg, transparent 0%, var(--outclass) 50%, transparent 100%);
            }

            &.in-class {
                background: linear-gradient(90deg, transparent 0%, var(--inclass) 50%, transparent 100%);
            }
        }

        .form-footer {
            button {
                flex: 2;
            }
        }
    }

    &.vehicle-crew {
        --border : var(--color-cool-3);
        .window-content > div {
            overflow: auto;
        }
        button {
            margin: 1rem auto;
        }
        .role-section {
            text-align: center;

            .role-list {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                border-radius: 10px;
                padding: 0.5rem;
                flex: 1;

                .role {
                    border: 1px dashed var(--border);
                    border-radius: 10px;
                    text-align: center;
                    padding: 0.5rem;
                    margin: 0.5rem;
                }
            }
        }
        .passenger-section {
                flex: 1;
                .passenger-list {
                    display: flex;
                    justify-content: space-around;
                    height: 100%;
                    flex-wrap: wrap;

                    .passenger {
                        flex: 1 0 80px;
                        margin: 0.5rem 1rem;

                        .passenger-header {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            
                            label {margin: 0.5rem 0px};
                            img {
                                object-fit: contain;
                            }
                        }

                        .passenger-roles {
                            display: flex;
                            flex-direction: column;
                            min-height: 100px;
                            border: 1px dashed var(--border);
                            border-radius: 10px;
                            text-align: center;
                            padding: 0.5rem;
                        }
                    }
                }
            }
    }

    &.vehicle-modifiers {
        .source {
            display: flex;
            align-items: center;
            input[type="checkbox"] {
                margin-right: 10px;
              }
        }
        .sources {
            overflow-y: scroll
        }
        input {
            text-align: center;
        }
        h2 {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 0px;
        }
        ul {
            padding: 0px;
            > * {
                margin: 2px 0px;
            }
          }

        a[data-action="remove"],
        input[name="active"] {
            flex: 0 0 20px;
            text-align: center;
        }
        input[name="description"] {
            flex: 1;
            text-align: left
          }
          input[name="formula"] {
            flex: 0 0 100px;
          }
          .window-content {
            > :first-child {
                height: calc(100% - 50px);
                margin-bottom: 1rem;
                overflow: auto;
            }
        }
    }

    &.vehicle-move {
        h2 {
            text-align: center;
        }

        .disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        .window-content {
            > :first-child
            {
                display: flex;
                gap: 10px;
                margin-bottom: 1rem;
            }
        }
    }

    &.homebrew-config {
        .window-content {
            > div {
                overflow: auto;
            }
        }
    }   


}

.theme-light .warhammer.vehicle-crew,
.theme-light .warhammer.item-dialog.career-selector {
    --border: var(--color-dark-6);
    --selected: var(--color-warm-1);
}