.warhammer.character-creation.staged {
    color: black;
    font-family: var(--primary-font);
    box-shadow: 0 0 30px  inset black;
    font-size: var(--font-size-18);
    display: flex;
    flex-direction: column;

    padding: 0px 2rem;

    .inactive {
        opacity: 0.5;
    }
    .stages {
        flex: 0 0 4rem;
    }
    .active-stage {
        flex: 1;
        overflow:hidden;
    }

    .form-footer {
        flex: 0 0 4rem;
    }

    .character-creation-stage {
        border: 1px dashed black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 0px 2rem;
        height:100%;

        footer {
            flex: 0 0 2rem;
        }

        h3 {
            font-family: var(--primary-font);
            color: black;
            font-weight: normal;
        }
        
        > * {
            flex: 1;
        }
        > [data-application-part=result] {
            flex: 0 0 4rem;
        }
        justify-content: center;
        align-items: center;

        [data-application-part=result] {
            display: flex;
            font-size: 2rem;
            width: 25%;
            justify-content: space-between;

            > * {
            }
        }

        .chargen-option {
            justify-content: space-between;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0px 1rem;
            border-radius: 10px;
            img {
                height: 4rem;
                width: 4rem;
            }
            .details {
                text-align: center;
            }
            &.selected {
                box-shadow: 0 0 10px black inset;
                background: red;
            }
            &:hover {
                box-shadow: 0 0 10px black inset;
                cursor: pointer;
            }
        }   
        
        &#species {

            [data-application-part=species]
            {
                display: flex;
                width: 100%;
                height: 100%;
                > * {
                    h3 {
                        text-align: center;
                    }
                    display: flex; 
                    flex-direction: column;
                    flex: 1;
                }

                .species-roll
                {
                    gap: 1rem;
                    h3 {
                        margin: 0px;
                    }
                }

                .species-list {
                    flex: 1;
                    display: flex;
                    gap: 0.5rem;
                    flex-direction: column;
                    padding: 0px 30% 0px 35%;
                    .details {
                        text-align: right;
                    }

                }

                .species-result {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;
                    flex: 1;
                }

                .subspecies {
                    text-align: center;

                    .species-list
                    {
                        padding: 0 0;
                    }
                }
            }

            .statistics {
                font-size: var(--font-size-14);
                display: flex;
                flex-direction: column;
                height: 100%;
                .tables {
                    height: 50%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }

                .skills,
                .talents {
                    display: flex;
                    justify-content: center;
                    font-size: var(--font-size-18);
                    width: 100%;
                    p {
                        width: 50%;
                    }
                }
                .species-img {
                    height: 50%;
                    img {

                        height: 100%;
                        object-fit: contain;
                    }
                }
                table {
                    margin: 0px;
                    background: none;
                    border: none;
                    width: 30%;
                    td {
                        height: 1.5rem;
                        padding: 0px;
                    }
                    tr {
                        border-bottom: 1px solid black;
                        height: 2.5rem;
                    }
                    tr:last-of-type {
                        border-bottom: none;
                    }
                    td:first-of-type {
                            border-right: 1px solid black;
                    }
                    td:last-of-type {
                        text-align: center;
                    }
                }
            }
        }

        &#career {

            [data-application-part=career]
            {
                width: 100%;
                height: 100%;
                display: flex;
                > * {
                    flex: 1;
                }
                .table-content {
                    padding: 0.5rem 1rem;
                    display: flex;
                    flex-direction: column;
                    overflow: auto;
                    flex: 1;
                    width: 50%;
                    gap: 0.5rem;

                    .chargen-option {
                        margin: 0px 10%;
                        .details {
                            text-align: right;
                        }
                    }
                }


                .career-table {
                    padding-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .careers-rolled {
                    text-align: center;
                    .career-list {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;    
                    }
                        .chargen-option {
                            margin: 0px 30%;
                    }
                }

                .career-details {
                    overflow: auto;
                }
            }
        }

        &#attributes {

            .overallocated {
                color: red;
            }

            input {
                background: none;
                border: none;
                outline: none;
                color: black;
                text-align: center;
                border: 1px dotted black;
                border-radius: 0px;
                margin: 1rem;
                height: 2rem;
                width: 2rem;
                padding: 0px;
                border-radius: 5px;
            }

            .char-table {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(2, 1fr);
                text-align: center;
                border: 1px solid black;
                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 4rem;
                    width: 6rem;
                    &:not(:nth-of-type(10n)){
                        border-right: 1px solid black;
                    }
                }
            }

            .char-name {
                border-bottom: 1px solid black;
                font-weight: bold;
            }

            .char-formula {
                border-bottom: 1px solid black;
            }
            
            .char-value {
                border-bottom: 1px solid black;


                &.invalid
                {
                    input {
                        border-color: red;
                        background-color: rgba(200, 0, 0, 0.1)
                    }
                }

                .char-drag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px dotted black;
                    height: 2rem;
                    width: 2rem;
                    border-radius: 5px;
                    padding: 0px;
                    line-height: 1rem;
                    cursor: grab;
                    box-shadow: 0 0 3px black inset;
                }
                
                &[draggable=true]
                {
                    &:hover {
                        box-shadow: 0px 0px 5px black inset;
                        cursor: grab;
                    }
                }
            }

            .advance-inputs,
            .meta-inputs {
                display: flex;
                justify-content: space-around;
                > * {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 4rem;
                }
                input {
                    width: 100%;
                    background: rgba(0, 0, 0, 0.05);
                }
            }
        }

        &#skills-talents {

            [data-application-part=skillsTalents]
            {
                width: 100%;
                display: flex;
                > * {
                    flex: 1;
                }
            }

            .skills {
                display: flex;
                flex-direction: column;
                > * {
                    flex: 1;
                }
            }

            .skills .species {
                display: flex;
                gap: 1rem;
                margin: 1rem 0px;
                > * {
                    flex: 1;
                }
                .drop-container {
                    border: 1px dashed black;
                    border-radius: 5px;
                    .title {
                        text-align: center;
                    }
                }

                .drag-list {
                    padding: 0.5rem;
                    margin: 0.5rem;

                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                }

                .skill-drag {
                    border: 1px solid black;
                    border-radius: 3px;
                    background: rgba(0, 0, 0, 0.05);
                    text-align: center;
                    padding: 0.2rem 0.3rem;
                    cursor: grab;
                }

                .advances {
                    display: flex;
                    gap: 0.5rem;

                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    .drop-container {
                        flex: 1;
                    }
                }
            }

            .skills .career {
                .career-inputs {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;

                    > div {
                        
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        border: 1px solid black;
                        border-radius: 3px;
                        padding: 0.2rem 0.3rem;
                        
                        input {
                            color: black;
                            background: none;
                            outline: none;
                            background: rgba(0, 0, 0, 0.1);
                            width: 2rem;
                            border: none;
                            padding: 0px;
                            text-align: center;
                        }
                    }
                }
            }

            .talent-list {
                gap: 0.5rem;
                display: flex;
                flex-direction: column;
            }
        }
    }
}