@use "../mixins/button" as *;
@use "../theme/mixins" as *;

#chargen-stage.app.window-app .window-content,
#chargen.app.window-app .window-content {
  background: url(./ui/backgrounds/parchment-texture.webp) repeat;
  font-family: CaslonPro;
}

.chargen button {
  @include wfrp-button;
  color: white;
}

.chargen h1{
  text-align: center;
}

.chargen input {
  color: black;
  text-align: center;
}

.chargen label {
  font-weight: bold;
}

.chargen img {
  border: none
}

.chargen h1,
.chargen h2,
.chargen h3{
  font-family: CaslonAntique;
  border: none
}

.chargen p {
  min-height: unset;
}


.chargen form {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chargen .chargen-stage-buttons {
  display: flex;
  flex-direction: column;
  height: 100%
}

.chargen .chargen-content {
  height: calc(100% - 85px);
  overflow: auto;
  margin: 5px;
  flex-direction: column;
  display:flex;
}

.chargen .chargen-stage-buttons > *{
  margin: 5px;
  width: 150px;
  text-align: center;
}

.chargen-button {
  @include styled-button
}

.chargen .disabled {
  opacity: 0.5;
  pointer-events: none;
}

.chargen-details {
  margin: 5px;
}

.chargen .stage-title {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(36deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4738270308123249) 50%, rgba(255,255,255,0) 100%);
  border-image-slice: 1;
}

.app.window-app.chargen .stage-title p {
  font-weight: bold;
  text-align: center;
  font-size : var(--font-size-16);
  margin-bottom: 0px;
}

.app.window-app.chargen .chargen-stage-buttons .stage-title p {
  font-size : var(--font-size-20);
  margin:0px
}

  .chargen .centered {
  text-align: center;
}

.chargen .controls {
  flex: 0 0 35px
}

.chargen .result {
  display: flex;
  flex: 0 0 30px;
  align-items: center;
  border-top: 1px solid #CCC
}

.chargen .result > * {
  flex: 1;
}

.chargen .result .xp {
  flex: 0 0 50px;
}

.chargen .buttons {
  display: flex;
  justify-content: space-around;
}

.chargen .career .choose-careers {
  display :flex;
  flex-direction: column;
}

.chargen .ch-rolls {
  margin-top: -10px;
  text-align: center;
}

.chargen .ch-rolls > * {
  margin-top: 10px;
}

.chargen .ch-rolls .ch-name {
  text-align: left;
}


.chargen .ch-roll.ch-drag {
  cursor: pointer;
  border: 1px dashed black;
  height: 17px;
  padding-top: 1px;
  width: 30px;
  margin: 0px 30px;
  border-radius: 5px;
  flex: unset;
}

.chargen .ch-allocate-container {
  margin-bottom : -3px;
}

.chargen .ch-rolls .allocation-input input {
  height: 17px;
  padding-top: 5px;
  width: 30px;
}

.chargen .drag-area {
  border: 1px black dashed;
  margin: 3px;
  border-radius: 5px;
  padding: 3px;
}

.chargen .drag-area p{
  margin: 0px;
}


.chargen .species-skills
{
  flex: 3 0 200px;
}


.chargen .skill-allocation,
.chargen .drag-skill {
  border: 1px solid black;
  border-radius: 3px;
  background:rgba(0, 0, 0, 0.05);
  margin: 3px;
  white-space : nowrap;
  flex: unset;
  padding: 3px;
}

.chargen .allocation-input {
  display : flex;
  align-items: center;
}
.chargen .allocation-input input{
  border : 1px dashed black;
  border-radius: 5px;
  width: 50px;
  /* margin: 5px; */
  flex: unset
}

.chargen-group  {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.chargen-group  .chargen-details{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  padding: 5px;
  background: rgba(53, 37, 22, 0.1);
  flex: 1;
  white-space: nowrap;
}


.chargen-content .item-display {
  margin: 10px;
}
  .chargen-content .item-display img{
    width: 70px;
    height:70px;
    flex: unset
}

.chargen-content .item-display .flexcol {
  align-items: center;
}

.chargen-details.xp {
  flex: 0.2
}

.chargen-group  .chargen-details.wrap {
  white-space: initial;
}

.chargen-group  .chargen-details .label {
  text-align: center;
}

.chargen-group.extra .chargen-details {
  flex: unset
}

.chargen .trait-list,
.chargen .talent-list {
  display: flex;
  flex-wrap: wrap;
}

.chargen .trait-list .trait {
  margin: 5px;
}

.chargen .talent-list .choice-list {
  display: flex;
  flex-direction: column;
}

.chargen .talent-list a {
  margin: 5px;
}

.chargen .talent-choice {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.chargen .career-skills {
  display: flex;
  flex-wrap: wrap;
}

.chargen .career-skills .skill-allocation {
  display: flex;
  align-items: center;
  margin: 3px;
}

.chargen .career-skills .skill-allocation input{
  height: 15px;
  width: 22px;
  border: none;
  padding-top: 4px;
  margin-left: 2px;
}

.chargen .career-skills .skill-allocation input:focus {
  box-shadow: none;
}

.chargen .missing-trapping {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.chargen .missing-trapping > p{
  flex: 3
}

.chargen .missing-trapping-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.chargen .remove-trapping {
  font-size: 10px;
}

.chargen .detail-group {
  display: flex;
  flex-wrap: wrap;
}

.chargen .detail-group > .detail-form {
  flex: 1
}

.chargen .detail-form {
  display: flex;
  border: 1px solid black;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  background: rgba(53, 37, 22, 0.1);
}

.chargen .detail-form .roll-details {
  flex: 0 0 20px;
}

.chargen .detail-form input {
  flex: 1
}

.chargen .detail-form input:focus {
  box-shadow: none;
}


.chargen-details table {
  border: none;
  background: none
}

.chargen .detail-form label {
  display: flex;
  align-items: center;
  margin: 5px;
}

.chargen .ambitions {
  display: flex;
  flex: 1;
}

.chargen .ambitions .detail-form {
  flex-direction: column;
  width: 100%
}

.chargen .ambitions .detail-form textarea{
  all: initial;
  border: none;
  height: 100%;
  width:100%;
  padding: 3px;
  line-break: anywhere;
}


.chargen-details table tr{
  display: flex;
  text-align: center;
  background: none;
  border-bottom: 1px solid black
}

.chargen-details table tr:last-of-type {
  border: none
}

.chargen-details table tr th,
.chargen-details table tr td{
  flex: 1
}

.app.window-app .chargen-species-preview {
  display: none;
  position: absolute;
  padding: 4px 5px 10px 5px;
  border: 1px solid #666;
  background: url(./ui/backgrounds/parchment-texture.webp) repeat;
}

.app.window-app .chargen-species-preview.active {
  display: block;
}

.app.window-app .chargen-species-preview.left {
  width: 200px;
  left: -200px;
  border-radius: 8px 0 0 8px;
  box-shadow: -2px 2px 12px #000000;
  border-right: none;
}

.app.window-app .chargen-species-preview.right {
  right: -300px;
  width: 300px;
  border-radius: 0 8px 8px 0;
  box-shadow: 2px 2px 12px #000000;
  border-left: none;
}

.app.window-app .chargen-species-preview .skills-talents {
  display: flex;
  flex-direction: column;
}

.app.window-app .chargen-species-preview .skills-talents .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app.window-app .chargen-species-preview .skills-talents .entry {
  flex: 1 1 50%;
  white-space: break-spaces;
}

.app.window-app .chargen-species-preview .skills-talents .entry.table-link {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.app.window-app .chargen-species-preview .skills-talents hr {
  width: 100%;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(36deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4738270308123249) 50%, rgba(255,255,255,0) 100%) 1;
  margin: 14px 0 10px 0;
}

.app.window-app .chargen-species-preview h2 {
  font-family: CaslonAntique, serif;
  font-size: var(--font-size-24);
  font-weight: bold;
  font-variant: small-caps;
}
.app.window-app .chargen-species-preview h2.center {
  text-align: center;
}