 
  <div class="encumbrance-header">
    <a id="encumbrance-text">{{localize "SHEET.EncCount"}}</a>
    <div class="encumbrance-counter-block">
      <span class="encumbrance-label">{{actor.encumbrance.value}} /</span>
      <span class="encumbrance-max">{{actor.encumbrance.max}}</span>
    </div>
  </div>
  
  <div class="encumbrance">
    <span class="encumbrance-text">{{actor.encumbrance.message}}</span>
    {{#if actor.encumbrance.overEncumbered}}
    <span class="encumbrance-bar over-encumbrance" style="width:100%"></span>
    {{else}}
    {{#if actor.encumbrance.overEncumbrance}}
    <span class="encumbrance-bar overEnc-encumbrance" style="width:{{actor.encumbrance.encPct}}%" title="{{actor.encumbrance.modMsg}}"></span>  
    {{/if}}
    <span class="encumbrance-bar carry-encumbrance" style="width:{{actor.encumbrance.carryPct}}%" title="{{actor.encumbrance.carryMsg}}"></span>  
    {{/if }}

  </div>
  
  <!-- EQUIPMENT -->
  <div id="currency-header" class="inventory-header item currency-header">
    <span id="currency-name" class="name">
      {{localize "WFRP4E.TrappingType.Money"}} ({{localize "Total"}}: {{actor.money.total}}d) 1 {{localize "MARKET.Abbrev.GC"}} : 20 {{localize "MARKET.Abbrev.SS"}} : 240 {{localize "MARKET.Abbrev.BP"}}
      <a class="dollar-icon combat-icon" title="{{localize 'MARKET.Exchange'}}">
        <i class="fas fa-coins"></i>
      </a>
    </span>
    <a id="currency-quantity" class="quantity aggregate" data-type="money">{{localize "SHEET.QtyAbbrev"}}.</a>
    <span id="currency-weight" class="weight">{{localize "SHEET.EncAbbrev"}}.</span>
    {{#if owner}}
    <div class="item-controls">
    {{else}}
    <div class="item-controls" style = "visibility : hidden;">
    {{/if}}
      <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="money"><i class="fas fa-plus"></i></a>
    </div>
  </div>
  
  <ol class="inventory-list currency-list">
    {{#each actor.money.coins as |item i|}}
    <li class="item" data-item-id="{{item._id}}">
      <div class="content">
        <div class="item-name currency-name item-dropdown">
          <div class="image" style="background-image: url({{item.img}})"></div>
          <a class="name">{{item.name}}</a>
        </div>
        <a class="quantity quantity-click">{{item.data.quantity.value}}</a>
        <span class="weight">{{item.encumbrance}}</span>
        {{#if ../owner}}
        <div class="item-controls">
        {{else}}
        <div class="item-controls" style = "visibility : hidden;">
        {{/if}}
          <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
          <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
          <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
          <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
        </div>
      </div>
    </li>
    {{/each}}
  </ol>
  


  <div class="inventory-header item passenger">
    <span class="name">{{localize "SECTION.Passengers"}}</span>
    <span class="quantity">{{localize "SHEET.QtyAbbrev"}}.</span>
    {{#if actor.flags.actorEnc}}
    <span class="weight">{{localize "SHEET.EncAbbrev"}}.</span>
    {{/if}}
  </div>
  
  <ol class="inventory-list passenger">
    {{#each actor.passengers as |item i|}}
    <li class="item" data-index="{{i}}">
    <div class="content">
      <div class="item-name non-toggle-name item-dropdown">
          <div class="image" style="background-image: url({{item.actor.token.img}})"></div>
          <a class="name">{{item.actor.name}}</a>
        </div>
        
        {{#unless item.linked}}
        <a class="quantity passenger-qty-click">{{item.count}}</a>
        {{/unless}}

        {{#if ../actor.flags.actorEnc}}
        <span class="weight">
          {{item.enc}}
        </span>
        {{/if}}

        {{#if ../owner}}
        <div class="item-controls">
        {{else}}
        <div class="item-controls" style = "visibility : hidden;">
        {{/if}}
          <a class="item-control passenger-delete-click" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-times"></i></a>
        </div>
    </div>
    </li>
    {{/each}}
  </ol>


  {{#each actor.inventory as |section sid|}}
  <div class="inventory-header item {{@key}}">
    {{#if section.toggle}}
    <span class="name">{{section.label}}</span>
    {{else}}
    <span class="name" id="currency-name">{{section.label}}</span>
    {{/if}}

    <a class="quantity aggregate" data-type="{{section.dataType}}">{{localize "SHEET.QtyAbbrev"}}.</a>
  
    <span class="weight">{{localize "SHEET.EncAbbrev"}}.</span>
    {{#if ../owner}}
    <div class="item-controls">
    {{else}}
    <div class="item-controls" style = "visibility : hidden;">
    {{/if}}
      <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" item-section="{{sid}}" data-type="{{section.dataType}}"><i
          class="fas fa-plus"></i></a>
    </div>
  </div>
  
  <ol class="inventory-list {{@key}}">
    {{#each section.items as |item i|}}
    <li class="item" data-item-id="{{item._id}}">
    <div class="content">
      {{#if section.toggle}}
      <div class="item-name item-dropdown">
      {{else}}
      <div class="item-name non-toggle-name item-dropdown">
      {{/if}}
          <div class="image" style="background-image: url({{item.img}})"></div>
          <a class="name">{{item.name}}</a>
        </div>
          
        <a class="quantity quantity-click">{{item.data.quantity.value}}</a>
  
        <span class="weight">{{item.encumbrance}}</span>
        {{#if ../../owner}}
        <div class="item-controls">
        {{else}}
        <div class="item-controls" style = "visibility : hidden;">
        {{/if}}
          <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
          <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
          <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
          <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    </li>
    {{/each}}
  </ol>
  {{/each}}

  <!-- CONTAINERS (LEVEL 1) -->
{{#if actor.containers.show}}
{{#each actor.containers.items as |rootPack p|}}
<div class="inventory-section container">

  <div class="inventory-header item inventory-container level-one" inventory-type="container" root="{{rootPack._id}}" data-item-id="{{rootPack._id}}">
    <div class="item-name" data-item-id="{{rootPack._id}}">
      <div class="image item-image" style="background-image: url({{rootPack.img}})"></div>
      <div class="name item-label">{{rootPack.name}}</div>
    </div>

    <div class="column-section">
      <span class="item-carries">{{localize 'Carries'}}: {{rootPack.holding}}/{{rootPack.data.carries.value}}</span>
      <span>{{localize "SHEET.EncAbbrev"}}: {{rootPack.encumbrance}}</a>
    </div>

    <span class="item-quantity">{{localize "SHEET.QtyAbbrev"}}.</span>
    <span class="item-weight">{{localize "SHEET.EncAbbrev"}}.</span>

    {{#if ../owner}}
    <div class="item-controls">
    {{else}}
    <div class="item-controls" style = "visibility : hidden;">
    {{/if}}
      <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
    </div>
  </div>
  <ol class="inventory-list level-one">
    {{#each rootPack.carrying as |item i|}}
    <li class="item level-one-item" data-item-id="{{item._id}}">
      <div class="content">
        <div class="item-name item-dropdown">
          <div class="image item-image" style="background-image: url({{item.img}})"></div>
          <a class="name">{{item.name}}</a>
        </div>

        <div class="item-type">{{item.type}}</div>

        <a class="quantity quantity-click">{{item.data.quantity.value}}</a>
        <span class="weight">{{item.encumbrance}}</span>
        {{#if ../../owner}}
        <div class="item-controls">
        {{else}}
        <div class="item-controls" style = "visibility : hidden;">
        {{/if}}
          <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
          <a class="item-control item-remove" title="{{localize 'SHEET.RemoveItem'}}"><i class="fas fa-chevron-up"></i></a>
        </div>
      </div>
    </li>
    {{/each}}
  </ol>
  </div>
</div>
  {{/each}}
  {{/if}}



  