<div class="condition-list">
  {{#each conditions as |condition c|}}
  <div class="sheet-condition" data-cond-id={{condition.id}}>
    <a>
      {{#if condition.existing}}
      <img class="condition-click" style="border:none" width="50" height="50"src={{condition.icon}} /> 
      {{else}}
      <img class="condition-click" style="border:none; opacity: 0.5" width="50" height="50"src={{condition.icon}} /> 
      {{/if}}
    </a>
    <div class="condition-controls">
        {{#if condition.boolean}}
          {{#if condition.existing}}
          <a class="condition-toggle"><i class="far fa-check-circle"></i></a>
          {{else}}
          <a class="condition-toggle"><i class="far fa-circle"></i></a>
          {{/if}}
        {{else}}
        <a class="condition-value">{{condition.value}}</a>
        {{/if}}
    </div>
  </div>
  {{/each}}
</div>

<div class="inventory-header item list-header">
  <span class="name">{{localize "SHEET.TemporaryEffects"}}</span>
  <span class="source">{{localize "SHEET.Source"}}</span>
  {{#if document.isOwner}}
  <div class="list-controls">
    {{else}}
    <div class="list-controls" style = "visibility : hidden;">
    {{/if}}
    <a class="item-control effect-create" data-effect="temporary" title="{{localize 'SHEET.CreateItem'}}"><i class="fas fa-plus"></i></a>
  </div>
</div>

<ol class="inventory-list sheet-list save-scroll">
  {{#each actor.tempEffects as |effect e|}}
  <li class="item" data-item-id="{{effect.id}}" {{#if effect.data.disabled}} style="opacity : 0.5"{{/if}}>
    <div class="content">
      <div class="item-name effect-name">
        <div class="image" style="background-image: url({{effect.icon}})"></div>
        <a class="name effect-title">{{effect.displayLabel}}</a>
      </div>

      <span class="source">
        {{effect.sourcename}}
      </span>

      {{#if ../document.isOwner}}
      <div class="list-controls effect-controls">
      {{else}}
      <div class="list-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-control effect-toggle" title="{{localize 'SHEET.ToggleEffect'}}"><i class="far fa-check-circle"></i></a>
        <a class="effect-control effect-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
  </li>
  {{/each}}
</ol>


<div class="inventory-header item list-header">
  <span class="name">{{localize "SHEET.PassiveEffects"}}</span>
  <span class="source">{{localize "SHEET.Source"}}</span>
  {{#if document.isOwner}}
  <div class="list-controls">
    {{else}}
    <div class="list-controls" style = "visibility : hidden;">
    {{/if}}
    <a class="item-control effect-create" data-effect="passive" title="{{localize 'SHEET.CreateItem'}}"><i class="fas fa-plus"></i></a>
  </div>
</div>

<ol class="inventory-list sheet-list save-scroll">
  {{#each actor.passiveEffects as |effect e|}}
  <li class="item" data-item-id="{{effect.id}}" {{#if effect.data.disabled}} style="opacity : 0.5"{{/if}}>
    <div class="content">
      <div class="item-name effect-name">
        <div class="image" style="background-image: url({{effect.icon}})"></div>
        <a class="name effect-title">{{effect.displayLabel}}</a>
      </div>

      <span class="source">
        {{effect.sourcename}}
      </span>

      {{#if ../document.isOwner}}
      <div class="list-controls effect-controls">
      {{else}}
      <div class="list-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-control effect-toggle" title="{{localize 'SHEET.ToggleEffect'}}"><i class="far fa-check-circle"></i></a>
        <a class="effect-control effect-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
  </div>
  </li>
  {{/each}}
</ol>

<div class="inventory-header item list-header">
  <span class="name">{{localize "SHEET.DisabledEffects"}}</a>
  <span class="source">{{localize "SHEET.Source"}}</span>
  {{#if document.isOwner}}
  <div class="list-controls">
    {{else}}
    <div class="list-controls" style = "visibility : hidden;">
    {{/if}}
  </div>
</div>

<ol class="inventory-list sheet-list save-scroll">
  {{#each actor.disabledEffects as |effect e|}}
  <li class="item" data-item-id="{{effect.id}}" {{#if effect.data.disabled}} style="opacity : 0.5"{{/if}}>
    <div class="content">
      <div class="item-name effect-name">
        <div class="image" style="background-image: url({{effect.icon}})"></div>
        <a class="name effect-title">{{effect.displayLabel}}</a>
      </div>
      
      <span class="source">
        {{effect.sourcename}}
      </span>

      {{#if ../document.isOwner}}
      <div class="list-controls effect-controls">
      {{else}}
      <div class="list-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-control effect-toggle" title="{{localize 'SHEET.ToggleEffect'}}"><i class="far fa-circle"></i></a>
        <a class="effect-control effect-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
  </div>
  </li>
  {{/each}}
</ol>

<div class="inventory-header item list-header">
  <span class="name">{{localize "SHEET.AppliedEffects"}}</span>
  {{#if document.isOwner}}
  <div class="list-controls">
    {{else}}
    <div class="list-controls" style = "visibility : hidden;">
    {{/if}}
    <a class="item-control effect-create" data-effect="applied" title="{{localize 'SHEET.CreateItem'}}"><i class="fas fa-plus"></i></a>
  </div>
</div>

<ol class="inventory-list sheet-list save-scroll">
  {{#each actor.appliedEffects as |effect e|}}
  <li class="item" data-item-id="{{effect.id}}">
    <div class="content">
      <div class="item-name effect-name">
        <div class="image" style="background-image: url({{effect.icon}})"></div>
        <a class="name effect-title">{{effect.displayLabel}}</a>
      </div>
    

      {{#if ../document.isOwner}}
      <div class="list-controls effect-controls">
      {{else}}
      <div class="list-controls" style = "visibility : hidden;">
      {{/if}}
      <a class="effect-control effect-target" title="{{localize 'SHEET.ApplyToTarget'}}"><i class="fas fa-crosshairs"></i></a>
      <a class="effect-control effect-delete" title="{{localize 'SHEET.Target'}}"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
