<h2 class="note-section label">{{localize "Description"}}</h2>
<div class="note-section editor-section">
    {{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
  </div>

  {{#if (isGM)}}
<h2 class="note-section label">{{localize "GM Notes"}}</h2>
<div class="note-section editor-section">
  {{editor content=data.details.gmnotes.value target="data.details.gmnotes.value" button=true owner=owner editable=editable}}
</div>
{{/if}}