<!-- AP
Critical Hits
Modifications
Crew -->


<div class="armour-section">
  {{#if actor.AP.head.show}}
  <div class="head column" data-location="head">
    <div class="armour-header">
      <span class="armour-label">{{actor.AP.head.label}}</span>
      <a class="armour-total" title="{{localize 'SHEET.ArmourAP'}}">{{actor.AP.head.value}}</a>
      <span class="toughness-total" title="{{localize 'SHEET.TB'}}">{{actor.data.characteristics.t.bonus}}</span>
    </div>
  </div>
  {{/if}}

  {{#if actor.AP.body.show}}
  <div class="body column" data-location="body">
    <div class="armour-header">
      <span class="armour-label">{{actor.AP.body.label}}</span>
      <a class="armour-total" title="Armour AP">{{actor.AP.body.value}}</a>
      
      <span class="toughness-total" title="Toughness Bonus">{{actor.data.characteristics.t.bonus}}</span>
    </div>
  </div>
  {{/if}}

  {{#if actor.AP.lArm.show}}
  <div class="larm column" data-location="lArm">
    <div class="armour-header">
      <span class="armour-label">{{actor.AP.lArm.label}}</span>
        <a class="armour-total" title="Armour AP">{{actor.AP.lArm.value}}</a>
        
        <span class="toughness-total" title="Toughness Bonus">{{actor.data.characteristics.t.bonus}}</span>
    </div>
  </div>
  {{/if}}
      
  {{#if actor.AP.rArm.show}}
  <div class="rarm column" data-location="rArm">
    <div class="armour-header">
      <span class="armour-label">{{actor.AP.rArm.label}}</span>
      <a class="armour-total" title="Armour AP">{{actor.AP.rArm.value}}</a>
      
      <span class="toughness-total" title="Toughness Bonus">{{actor.data.characteristics.t.bonus}}</span>
    </div>
  </div>
  {{/if}}

  {{#if actor.AP.lLeg.show}}
  <div class="lleg column" data-location="lLeg">
      <div class="armour-header">
        <span class="armour-label">{{actor.AP.lLeg.label}}</span>
        <a class="armour-total" title="Armour AP">{{actor.AP.lLeg.value}}</a>
        
        <span class="toughness-total" title="Toughness Bonus">{{actor.data.characteristics.t.bonus}}</span>
      </div>
  </div>
  {{/if}}

  {{#if actor.AP.rLeg.show}}
  <div class="rleg column" data-location="rLeg">
    <div class="armour-header rLeg">
      <span class="armour-label">{{actor.AP.rLeg.label}}</span>
      <a class="armour-total" title="Armour AP">{{actor.AP.rLeg.value}}</a>
      
      <span class="toughness-total" title="Toughness Bonus">{{actor.data.characteristics.t.bonus}}</span>
    </div>
  </div>
  {{/if}}

</div>