<div class="sheet-header">
    <div class="header-details">
        <div>test</div>
        <div>test</div>
        <div>test</div>
    </div>
    <div style="display: flex">
        <img src="{{actor.img}}">
        <div class="header-details">
            <div>test</div>
            <div>test</div>
            <div>test</div>
            <div>test</div>
            <div>test</div>
            <div>test</div>
            <div>test</div>
        </div>
    </div>
</div>