.idea/
debug.log
/.vs/wfrp4/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
node_modules
wfrp4e.lock
sounds/*
foundryconfig.json
build
docs
.github/workflows/pages.yml
!packs/
packs/*
!packs/basic/
packs/basic/*
!packs/basic/_source