{{#if locData.show}}
    <div class="{{loc}} column">
      <div class="armour-header">
        <a class="armour-total" title="{{localize 'SHEET.ArmourAP'}}">{{locData.value}}</a>
        <a class="shield-total" title="{{localize 'SHEET.ShieldAP'}}{{#if actor.totalShieldDamage}} - {{actor.totalShieldDamage}} {{localize 'Damage'}}{{/if}}">{{data.status.armour.shield}}</a>
        <span class="toughness-total" title="{{localize 'SHEET.TB'}}">{{data.characteristics.t.bonus}}</span>
        <span class="armour-label">{{locData.label}}</span>
        <span class="armour-ap">{{localize "AP"}}</span>
      </div>
      <div class="armour-box" data-location="{{loc}}">
        <ol class="inventory-list armour-list">
          {{#each items.equipped.armour as |item i|}}
          {{#if (lookup item.protects ../loc)}}

          <li class="item" data-item-id="{{item.id}}" >
            <div class="content">
              <div class="item-name">
                <div class="image item-image" title="{{item.name}}" style="background-image: url({{item.img}})"></div>
                <a class="name armour-item-name item-edit">{{item.name}}</a>
              </div>
              <a title="{{localize 'SHEET.ArmourCurrent'}}: {{lookup item.currentAP ../loc}} {{localize 'SHEET.ArmourMax'}}: {{lookup item.maxAP ../loc}}" class="ap-value {{#if (lookup item.damaged ../loc)}}item-damaged{{/if}}">{{lookup item.currentAP ../loc}}</a>
            </div>
            <div class="content">
              <div class="armour-property">
                <!--Copy this into the other list items once its been styled-->
                {{#if item.properties.special}}
                {{#each item.properties.special as |property p|}}
                <a class='armour-quality quality label'>{{property}}</a>
                {{/each}}
                {{/if}}

                {{#if item.Qualities.length}}
                <span class="quality label">{{localize "SHEET.Qualities"}}</span>
                {{{array item.Qualities "text armour-quality"}}}
                {{/if}}

                {{#if item.Flaws.length}}
                <span class="flaw label">{{localize "SHEET.Flaws"}}</span>
                {{{array item.Flaws "text armour-flaw"}}}
                {{/if}}
                <!-- Copy ends here-->
              </div>
            </div>
          </li>
          {{/if}}
          {{/each}}
        </ol>
      </div>
    </div>
    {{/if}}