<div class="form-group-stacked">
  <label class="label-text">{{localize "Qualities"}}<a class="edit-item-properties"><i class="fas fa-cog"></i></a></label>
  <div class="input-box">
    <input class="input-text" readonly type="text" value="{{{array item.OriginalQualities}}}" data-dtype="String" />
  </div>
</div>

<div class="form-group-stacked">
  <label class="label-text">{{localize "Flaws"}}<a class="edit-item-properties"><i class="fas fa-cog"></i></a></label>
  <div class="input-box">
    <input class="input-text" readonly type="text" value="{{{array item.OriginalFlaws}}}" data-dtype="String" />
  </div>
</div>