@import "./mixins/index";
@import "./sheets/sheets";


.wfrp4e {
    a {
        cursor: pointer
    }

    img {
        border: none;
        object-fit: contain;
    }

    .inactive {
        opacity: 0.5;
    }

    .disabled {
        pointer-events: none;
    }

    .centered {
        text-align: center;
    }

    .align-left {
        text-align: left;
    }

    input[type="number"] {
        text-align: center;
    }
}