<form class="skill-test">
  {{> systems/wfrp4e/templates/dialog/dialog-constant.html}}

  <div class="form-group custom-select">
    <label>{{localize "Characteristic"}}</label>
    <select name="characteristicToUse">
      {{#select characteristicToUse}}
      {{#each characteristicList as |label char|}}
      <option value="{{char}}">{{label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label title="{{localize 'DIALOG.HitLocation'}}">{{localize "ROLL.HitLocation"}} 
      <input type="checkbox" name="hitLocation" {{checked hitLocation}} />
    </label>


    {{#if chargingOption}}
    <label title=>{{localize "DIALOG.Charging"}} 
      <input type="checkbox" name="charging" data-dtype="Boolean" {{checked charging}}/>
    </label>
    {{/if}}   
    
  </div>

  <div class="roll-dialog-tag">skill</div>
</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.dialog');
  length = textContainer.length;

  
  
  

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].children[0].className.includes("skill-test")) {
      new_red = textContainer[i].id;
      
      
      if (document.getElementById(new_red).className.includes("skill-roll-dialog")) {
        continue;
      } 
      else {
        document.getElementById(new_red).className += " skill-roll-dialog";
      }
    } else {}
  }

  
</script>