<form class="spell-test">
  {{> systems/wfrp4e/templates/dialog/dialog-constant.html}}
  <div class="form-group custom-select">
    <label>{{localize "DIALOG.CastSkill"}}</label>
    <select name="skillSelected">
      {{#select defaultSelection}}
      {{#each castSkills as |skill skillIndex|}}
          <option value="{{skillIndex}}">{{skill.name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label title="{{localize 'DIALOG.HitLocation'}}">{{localize "ROLL.HitLocation"}} 
      <input type="checkbox" name="hitLocation" data-dtype = "Boolean" {{checked hitLocation}}/>
    </label>
  </div>

  <div class="form-group">
    <label title="{{localize 'DIALOG.MalignantInfTT'}}">{{localize "DIALOG.MalignantInf"}} 
      <input type="checkbox" name="malignantInfluence" data-dtype = "Boolean" {{checked malignantInfluence}}/>
    </label>
  </div>

  {{#if unofficialGrimoire}}
  <div class="form-group">
    <label title="{{localize 'DIALOG.UseIngredientTooltip'}}">{{localize "DIALOG.UseIngredient"}}</label>
    <select name="ingredientTypeSelected">
      <option value="none">{{localize "IngredientNone"}}</option>
      <option value="power">{{localize "IngredientPower"}}</option>
      <option value="control">{{localize "IngredientControl"}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "Overchannelling"}}</label>
    <input type="text" title="{{localize 'DIALOG.OverchannellingTooltip'}}" name="overchannelling" value="0" />
  </div>

  <div class="form-group">
    <label title="{{localize 'DIALOG.Quickcasting'}}">{{localize "DIALOG.Quickcasting"}} 
      <input title="{{localize 'DIALOG.QuickcastingTooltip'}}" type="checkbox" name="quickcasting" data-dtype="Boolean" {{checked quickcasting}}/>
    </label>
  </div>
  {{/if}}
  <div class="roll-dialog-tag">spell</div>
</form>


<script>
  textContainer = document.querySelectorAll('.app.window-app.dialog');
  length = textContainer.length;

  
  
  

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].children[0].className.includes("spell-test")) {
      new_red = textContainer[i].id;
      
      
      if (document.getElementById(new_red).className.includes("spell-roll-dialog")) {
        continue;
      } 
      else {
        document.getElementById(new_red).className += " spell-roll-dialog";
      }
    } else {}
  }

  
</script>
