<div class="form-group"> 
  <label class = "table-input">{{localize "DIALOG.TableModifier"}}: </label> 
  <input type = "text" name = "tableModifier" value = "0">
</div>

<div class="form-group"> 
    <label>{{localize "DIALOG.Min1"}}: </label> 
    <input title="Uncheck to cancel results less than 1." type = "checkbox" name = "minOne" {{checked true}}>  
  </div>

  <div class="form-group" title = "Use lookup value instead of rolling"> 
    <label class = "table-input">{{localize "DIALOG.TableLookup"}}: </label> 
    <input type = "text" name = "tableLookup" value = "">
  </div>