<div>
    <div class="pay-amount">
        {{#if QtGC}}
        <div class="coins" data-tooltip="NAME.GC" data-tooltip-direction="UP">
            {{QtGC}} <img src="modules/wfrp4e-core/icons/currency/goldcrown.png">
        </div>
        {{/if}}

        {{#if QtSS}}
        <div class="coins" data-tooltip="NAME.SS" data-tooltip-direction="UP">
            {{QtSS}} <img src="modules/wfrp4e-core/icons/currency/silvershilling.png">
        </div>
        {{/if
        }}
        {{#if QtBP}}
        <div class="coins" data-tooltip="NAME.BP" data-tooltip-direction="UP">
            {{QtBP}} <img  src="modules/wfrp4e-core/icons/currency/brasspenny.png">
        </div>
        {{/if}}
</div>

<a class='chat-button' data-action='pay'>{{localize "MARKET.PayForItem"}} <i class="fa-solid fa-coins"></i></a>