<div>
  <h2>{{localize "CHARGEN.CareerAdvancement"}}</h2>
</div>

<span>{{localize "CHARGEN.CareerInstructions"}}</span>

<div class = "exp-drag" data-exp={{exp}}><b><a >{{localize "Exp"}}: {{exp}}</a></b></div>

<div><b>{{localize "CHARGEN.ClassTrappings"}}:</b></div>
<div>{{trappings}}</div>

{{#unless chosen}}
{{#if reroll}}
<span class = "attribute-career-buttons">
  <a class = 'chargen-button careerReroll' data-button = 'chooseCareer' data-species="{{speciesKey}}" title = '{{localize "CHARGEN.ChooseCareerHint"}}'>{{localize "CHARGEN.ChooseCareer"}}</a>
</span>
{{else}}
<span class = "attribute-career-buttons">
  <a class = 'chargen-button careerReroll' data-button = 'rerollCareer' data-species="{{speciesKey}}" title = '{{localize "CHARGEN.RerollCareerHint"}}'>{{localize "CHARGEN.RerollCareer"}}</a>
</span>
{{/if}}
{{/unless}}