<div>
  <h2>{{species}}</h2>
</div>


<span>{{localize "CHARGEN.SpeciesInstructions"}}</span>

<div class = gen-skills>
  <h3>{{localize "Skills"}}</h3>
  {{#each speciesSkills as |skill key|}}
  <div><a class = "skill-drag"><i class="fas fa-suitcase"></i> {{skill}}</a></div>
  {{/each}}
</div>

<div class = gen-talents>
<h3>{{localize "Talents"}}</h3>
{{#each speciesTalents as |talent key|}}
<div><a class = "talent-drag"><i class="fas fa-suitcase"></i> {{talent}}</a></div>
{{/each}}

{{#each choiceTalents as |talentList key|}}
<div>
  <span><a class = "talent-drag"><i class="fas fa-suitcase"></i> {{talentList.[0]}}</a></span> {{localize "CHARGEN.Or"}} <span><a class = "talent-drag"><i class="fas fa-suitcase"></i> {{talentList.[1]}}</a></span>
</div>
{{/each}}

{{#each randomTalents as |talent key|}}
<div>{{talent.name}}</div>
{{/each}}
</div>

<div><a class = "table-click" data-table="talents"><i class="fas fa-list"></i>{{localize "CHARGEN.RerollInstructions"}}</a></div>
