<div class="wfrp4e chat-card" data-actor-id="{{actorId}}" data-hide = {{hideData}}>
    {{> systems/wfrp4e/templates/chat/roll/test-card.hbs}}
   <!-- {{#if opposed}}
    <div class ="card-buttons">
        <button class = "oppose-button">Oppose</button>
    </div>
    {{/if}}-->
</div>
