<div class="wfrp4e chat-card" data-actor-id="{{actorId}}" data-hide = {{hideData}}>
    {{> systems/wfrp4e/templates/chat/roll/test-card.hbs}}
    {{> systems/wfrp4e/templates/partials/overcasts.hbs}}
</div>