<div class="wfrp4e chat-card" data-actor-id="{{actorId}}" data-hide = {{hideData}}>

    {{> systems/wfrp4e/templates/chat/roll/test-card.hbs}}

    {{#if test.result.incomeResult}}
    <b><a class = "money-drag" data-amt = "{{test.result.earned}}">{{test.result.incomeResult}}</a></b>
    {{/if}}
</div>