.wfrp4e.actor.sheet {
    section.tab[data-tab="effects"] {
        height: calc(100% - 200px);
        overflow-y: auto;
        .condition-section {
            display: flex;
            flex-wrap: wrap;
            .condition {
                border: 1px solid var(--color-cool-3);
                margin: 3px;
                height: 2rem;
                line-height: 2rem;
                display : flex;
                > :first-of-type {
                    padding: 0px 5px;
                }
                .controls {
                  background: var(--color-cool-4);
                  text-align: center;
                  font-size: var(--font-size-16);
                }
            }
        }
    }      
}