.wfrp4e.actor.sheet {
    section.tab[data-tab="magic"] {
        height: calc(100% - 220px);

        .progress-bar {
            height: 0.5rem;
            border: none;
            .fill {
                background-color: var(--color-cool-3);
                border-radius: 2px;
            }
        }

        .lore.chosen,
        .progress-bar .fill
        {
            &.fire {
                background-color: firebrick;
            }

            &.heavens {
                background-color: skyblue;
            }

            &.metal {
                background-color: var(--color-warm-1);
            }

            &.shadow {
                background-color: grey
            }

            &.life {
                background-color: green
            }

            &.beasts {
                background-color: brown;
            }

            &.light {
                background-color: azure;
                color: black;
            }

            &.death {
                background-color: purple;
            }

            &.necromancy {
                background-color: blanchedalmond;
                color: black;
            }

            &.daemonology {
                background-color: darkred;
            }
        }
    }    
}
