@mixin gradient-border() {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(36deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4738270308123249) 50%, rgba(255,255,255,0) 100%);
    border-image-slice: 1;
}