<form class="channel-test">
  {{> systems/wfrp4e/templates/dialog/dialog-constant.html}}
  <div class="form-group custom-select">
    <label>{{localize "DIALOG.ChannelSkill"}}</label>
    <select name="skillSelected">
      {{#select defaultSelection}}
      {{#each channellSkills as |skill skillIndex|}}
          <option value="{{skillIndex}}">{{skill.name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label title="{{localize 'DIALOG.MalignantInfTT'}}">{{localize "DIALOG.MalignantInf"}} 
      <input type="checkbox" name="malignantInfluence" data-dtype = "Boolean" {{checked malignantInfluence}}/>
    </label>
  </div>

  {{#if unofficialGrimoire}}
  <div class="form-group">
    <label title="{{localize 'DIALOG.UseIngredientTooltip'}}">{{localize "DIALOG.UseIngredient"}}</label>
    <select name="ingredientTypeSelected">
      <option value="none">{{localize "IngredientNone"}}</option>
      <option value="power">{{localize "IngredientPower"}}</option>
      <option value="control">{{localize "IngredientControl"}}</option>
    </select>
  </div>
  {{/if}}
</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.dialog');
  length = textContainer.length;

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].children[0].className.includes("channel-test")) {
      new_red = textContainer[i].id;
      if (document.getElementById(new_red).className.includes("channel-roll-dialog")) {
        continue;
      } 
      else {
        document.getElementById(new_red).className += " channel-roll-dialog";
      }
    } else {}
  }

  
</script>