{{#if data.dualWieldingOption}}
  <div class="form-group">
    <label title=>{{localize "DIALOG.DualWielding"}}
      <input type="checkbox" name="dualWielding" data-dtype="Boolean" {{checked fields.dualWielding}} />
    </label>
  </div>
{{/if}}