{{#if data.chargingOption}}
  <div class="form-group">
    <label title=>{{localize "DIALOG.Charging"}}
      <input type="checkbox" name="charging" data-dtype="Boolean" {{checked fields.charging}} />
    </label>
  </div>
{{/if}}