{{#if (or data.chargingOption data.dualWieldingOption)}}
  <div class="form-group">
    {{#if data.chargingOption}}
      <label title=>{{localize "DIALOG.Charging"}}
        <input type="checkbox" name="charging" data-dtype="Boolean" {{checked fields.charging}} />
      </label>
    {{/if}}

    {{#if data.dualWieldingOption}}
      <label title=>{{localize "DIALOG.DualWielding"}}
        <input type="checkbox" name="dualWielding" data-dtype="Boolean" {{checked fields.dualWielding}} />
      </label>
    {{/if}}
    </div>
{{/if}}