{{#if data.chargingOption}}
  <div class="form-group">
    <label>{{ localize "DIALOG.Charging"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="charging" {{checked fields.charging}} />
    </div>
  </div>
{{/if}}