<form class="characteristic-test">
  {{> systems/wfrp4e/templates/chat/dialog-constant.html}}

  <div class="form-group">
    <label title="Include a roll on the hit location table">{{localize "ROLL.HitLocation"}}
      <input type="checkbox" name="hitLocation" data-dtype="Boolean" {{checked hitLocation}} />
    </label>
  </div>

  <div class="roll-dialog-tag">characteristic</div>
</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.dialog');
  length = textContainer.length;

  
  
  

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].children[0].className.includes("characteristic-test")) {
      new_red = textContainer[i].id;
      
      
      if (document.getElementById(new_red).className.includes("characteristic-roll-dialog")) {
        continue;
      } 
      else {
        document.getElementById(new_red).className += " characteristic-roll-dialog";
      }
    } else {}
  }

  
</script>

