<li class="message flexcol {{cssClass}}" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}}>
  <header class="message-header flexrow">
       
      {{#if message.flags.mountedImg}}
      <img class = "sender-image img-rider" src="{{message.flags.img}}" title="{{message.speaker.alias}}"/>
      <img class = "sender-image img-mount" src="{{message.flags.mountedImg}}" title="{{message.flags.mountedName}}"/>
      <h4 class="message-sender with-image">{{alias}}</h4>
      {{else if message.flags.img}}
      <img class = "sender-image" src="{{message.flags.img}}" title="{{message.speaker.alias}}"/>
      <h4 class="message-sender with-image">{{alias}}</h4>
      {{else}}
      <h4 class="message-sender">{{alias}}</h4>
      {{/if}}      
      <span class="message-metadata">
          <time class="message-timestamp">{{timeSince message.timestamp}}</time>
          {{#if user.isGM}}
          <a class="button message-delete"><i class="fas fa-trash"></i></a>
          {{/if}}
      </span>

      {{#if isWhisper}}
      <span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
      {{/if}}

      {{#if message.flavor}}
      <span class="flavor-text">{{{message.flavor}}}</span>
      {{/if}}
  </header>
  <div class="message-content">
      {{{message.content}}}
  </div>
</li>
