<div class="wfrp4e chat-card" data-actor-id="{{actorId}}" data-hide = {{hideData}}>

    {{> systems/wfrp4e/templates/chat/test-card.html}}


    {{#if testData.weapon.properties.qualities}}
    <div class="card-content" roll-desrciption = {{description}}>
        <span><b>{{localize "Qualities"}}</b>: </span>
        {{#each testData.weapon.properties.qualities as |quality q|}}
        <a class ="item-property">{{quality}} </a>
        {{/each}}
    </div>
    {{/if}}

    {{#if testData.weapon.properties.flaws}}
    <div class="card-content" roll-desrciption = {{description}}>
            <span><b>{{localize "Flaws"}}</b>: </span>
            {{#each testData.weapon.properties.flaws as |flaw f|}}
            <a class ="item-property">{{flaw}} </a>
            {{/each}}
        </div>
    {{/if}}

    {{#if testData.weapon.properties.special}}
    <div class="card-content hide-option" roll-desrciption = {{description}}>
            <span><b>{{localize "Special"}}</b>: {{testData.weapon.properties.special}}</span>
        </div>
    {{/if}}
   <!-- {{#if opposed}}
    <div class ="card-buttons">
        <button class = "oppose-button">Oppose</button>
    </div>
    {{/if}}-->
</div>
