<form class="weapon-test">
  {{> systems/wfrp4e/templates/chat/dialog-constant.html}}

  <div class="form-group custom-select">
    <label>{{localize "Skill"}}</label>
    <select name="skillSelected">
        {{#select defaultSelection}}
        {{#each skillCharList as |skill index|}}
            <option value="{{index}}">{{skill}}</option>
        {{/each}}
        {{/select}}
        </select>
  </div>

  <div class="form-group">
    <label title="{{localize 'DIALOG.HitLocation'}}">{{localize "ROLL.HitLocation"}} 
      <input type="checkbox" name="hitLocation" data-dtype = "Boolean" {{checked hitLocation}}/>
    </label>
  </div>

  <!--<a class="item-control edit-weapon" title="Modify weapon for this Test"><i class="fa fa-cog"></i>-->

  <div class="roll-dialog-tag">weapon</div>
</form>
  
<script>
  textContainer = document.querySelectorAll('.app.window-app.dialog');
  length = textContainer.length;

  
  
  

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].children[0].className.includes("weapon-test")) {
      new_red = textContainer[i].id;
      
      
      if (document.getElementById(new_red).className.includes("weapon-roll-dialog")) {
        continue;
      } 
      else {
        document.getElementById(new_red).className += " weapon-roll-dialog";
      }
    } else {}
  }

  
</script>