@use "./mixins" as *;

body:not(.no-theme):not(.theme-light) {

    &.classic-font {

        .warhammer.application
        {
            &.vehicle-crew,
            &.career-selector,
            &.roll-dialog-v2 {
                font-family: var(--primary-font);
                button[type="submit"] {
                    font-family: var(--header-font);
                    font-size: var(--font-size-20)
                }
            }
        }
    }

    .warhammer.application {
        &.roll-dialog-v2 {
            @include wfrp-form;

            --modifier-bg : var(--color-warm);

            .dialog-modifiers {
                label {
                    display:block;
                    color: #d6d6d6;
                    border: 1px solid #5d513e;
                    border-bottom: none;
                    background: #080808;
                    width: 100%;
                    height: 2rem;
                    line-height: 2rem;
                }

                .modifier-list {
                    color: #000000;
                    border: 1px solid #736953a6;
                    border-radius: 0px;
                    box-shadow: 0px 0px 10px inset black;
                    background: url(./ui/backgrounds/parchment-texture.webp);
                    li.active {
                            color: var(--color-cream)
                    }
                }
            }
        }

        &.career-selector {
            --inclass : var(--color-dark-blue);
            --outclass : var(--color-warm);
            --selected : var(--color-warm);

            h2 {
                margin-top: 0.5rem;
                color: #d6d6d6;
                border: 3px double #5d513e;
                box-shadow: 0px 0px 10px inset black;
                border-radius: 0px;
                opacity: 1;
                text-shadow: 1px 1px 5px #000000;
            }

            h2.in-class {
                background: var(--inclass);
                &.current {
                    background: var(--color-level-success-bg);
                }
            }
            h2.out-of-class {
                background: var(--outclass);
            }
            .dialog-item.current:not(.active) {
                background: var(--color-level-success-bg);
            }
        }

        &.vehicle-crew {
            --border: var(--color-faded);
            .window-content button {
                @include wfrp-button;
            }

        }

        &.bug-report {
            --issue : var(--color-warm);
        }
    }
}