@use "../mixins/index" as *;
@use "./mixins" as *;

    @font-face {
        font-family: "CaslonAntique";
        src: url('./fonts/CaslonAntique.ttf');
    }

    @font-face {
        font-family: "CaslonAntique";
        src: url('./fonts/CaslonAntique-Bold.ttf');
        font-weight: bold;
    }

    @font-face {
        font-family: "CaslonPro";
        src: url('./fonts/ACaslonPro-Regular.otf');
    }

    @font-face {
        font-family: "CaslonPro";
        src: url('./fonts/ACaslonPro-Bold.otf');
        font-weight: bold;
    }

    @font-face {
        font-family: "OnlySkulls";
        src: url('./fonts/only-skulls.ttf');
    }

    :root {
        :not(.no-theme)
        {
            --color-cream: #f0d9a3;
            --color-grey5: #f1ede9;
            --color-grey4: #b5aeac;
            --color-grey3: #737373;
            --color-grey2: #464331c4;
            --color-grey1: black;

            --color-faded: #736953a6;
            --color-faded-bg: #774e000f;

            --color-cool: #273444;

            --color-warm: #4a0404;

            --primary-font: "CaslonPro";
            --header-font: "CaslonAntique";
        }
    }

    body:not(.no-theme) {
        background: url(./ui/background.webp) repeat;

        &.classic-font {
            .message-sender,
            #chat {
                font-family: var(--primary-font);
            }
        }

        #sidebar-tabs {
            padding-right: 22px;
        }

        #sidebar-content {
            background: url(./ui/sidebar.webp) repeat;
            box-shadow: 0 0 10px #000;
        }

        .sidebar-tab {
            background: none;
        }

        .sidebar-tab.sidebar-popout {
            background: url(./ui/frames/bookshelf-texture.webp);
        }

        .inline-roll,
        .action-link,
        .content-link {
            border-radius: 2px;
            border: 1px solid #b9935e99;
            white-space: nowrap;
            word-break: break-all;
            box-shadow: inset 0px 0px 4px #b98132;
            background: #9e57001f;
            color: black;

            &.broken {
                background: rgba(255, 0, 0, 0.05);
                border: 1px dashed red;
            }
        }

        .ui-control {
            background: url(./ui/sidebar_button-background_cyan.webp) repeat;
            border: 1px solid black;
            border-image: url(./ui/footer-button.webp) 10 repeat;
            border-image-width: 4px;
            border-image-outset: 0px;

            &[aria-pressed='true'],
            &.active {
                // color: var(--color-warm-1);
                box-shadow: inset 0 0 10px var(--color-warm-1);
               background: url(./ui/sidebar_button-background_red.webp) repeat;
            }
        }
        #settings,
        .action-buttons {
            button {
                border: 1px solid black;
                border-image: url(./ui/footer-button.webp) 10 repeat;
                border-image-width: 4px;
                border-image-outset: 0px;
                box-shadow: 4px 4px 1px #00000085;
                background: url(./ui/sidebar_button-background_red.webp) repeat;
            }
        }

        .sidebar-tab {

            .inline-control {
                background: url(./ui/stamp.webp) repeat;
            }

            input[type='search'] {
                @include search();
            }
        }

        #context-menu {
            background: none;
            border: 1px solid;
            border-image: url(./ui/frames/context-menu.webp) 4 repeat;
            border-image-slice: 30 fill;
            border-image-width: 100px;
            border-image-outset: 0px 0px 0px 0px;
            box-shadow: 5px 5px 10px rgb(0, 0, 0);
            color: var(--color-cream);
        }

        #tooltip {
            background: none;
            border: 1px solid;
            border-image: url(./ui/frames/context-menu.webp) 4 repeat;
            border-image-slice: 30 fill;
            border-image-width: 100px;
            border-image-outset: 0px 0px 0px 0px;
            box-shadow: 5px 5px 10px rgb(0, 0, 0);
        }



        #players {
            gap: 26px;

            #players-active {
                border: 1px solid transparent;
                border-image: url(./ui/players-border.webp) 21 repeat;
                border-image-slice: 23 19 23 19;
                border-image-width: 23px 19px 23px 19px;
                border-image-outset: 22px 17px 16px 14px;
                border-radius: 0px;
                box-shadow: inset 0 0 10px #000000;
            }
        }

        #menu {
            border: 1px solid transparent;
            border-image: url(./ui/menu-border.webp) 21 repeat;
            border-image-slice: 78 4 81 4;
            border-image-width: 80px 6px 80px 6px;
            border-image-outset: 76px 0px 76px 0px;
            border-radius: 0px;
            box-shadow: 3px 4px 11px #000;
        }
    }
