@use "./mixins" as *;
@use "../mixins/border" as *;

.application.journal-entry:not(.no-theme) {

    @include links;

    color: var(--color-grey1);

    &.classic-font {
        font-family: var(--primary-font);
        blockquote {
            font-family: var(--primary-font);
        }
    }

    .window-header {
        border-image: url(./ui/borders/dialog-border.webp) 5 repeat;
        border-image-slice: 19 21 19 21 fill;
        border-image-width: 19px 21px 21px 21px;
        border-image-outset: 0px;
    }

    @include window-header();

    .window-content {
        background: url(./ui/backgrounds/bookshelf-background.webp);
        border-width: 10px;
        border-image: url(./ui/borders/dialog-border.webp) repeat;
        border-image-slice: 10 13 13 13;
        border-image-width: 10px 13px 13px 13px;

    }

    .journal-entry-content 
    {
        background: url(./ui/backgrounds/parchment-texture.webp);
        border: 10px solid transparent;
        border-image: url(./ui/backgrounds/journal-sheet-content.webp) repeat;
        border-image-slice: 25;
        border-image-width: 25px;
    }

    .journal-sidebar {
        input[type="search"]
        {
            @include search();
        }
        nav {
            padding-left: 1rem;
        }

        .inline-control {
            background: url(./ui/buttons/button-round.webp);
            background-repeat: no-repeat;
            background-position: -1px -2px;
            flex: 0 0 30px;
            height: 30px;
            outline: none;
            box-shadow: none;
        }

        search {
            margin-left: 12px;
            gap: 4px;
        }


        .toc li
        {
            
            &.category {
                background-color: var(--color-warm-half);
                line-height: 1.5rem;
                strong {
                    font-family: var(--header-font);
                    text-transform: unset;
                    font-variant: small-caps;
                }
            }

            // &:before {
            //     content: "";
            //     border-top: 2px ridge var(--color-warm);
            //     -webkit-mask-image: linear-gradient(270deg, transparent 0%, black 100%);
            //     mask-image: linear-gradient(270deg, transparent 0%, black 100%);
            // }
            // &:after {
            //     content: "";
            //     border-top: 2px ridge var(--color-warm);
            //     -webkit-mask-image: linear-gradient(270deg,  black 100%, transparent 0%);
            //     mask-image: linear-gradient(270deg, black 100%, transparent 0%);
            // }
        }
        .action-buttons {
            button {
                @include wfrp-button;
            }
        }
    }

    .journal-header {
        .title {
            border: 1px solid transparent;
            border-image: url(./ui/borders/item-sheet-header.webp) repeat;
            border-image-slice: 5;
            border-image-width: 4px;
            border-image-outset: 0px;
            border-radius: 0px;
            background: none;
            font-family: var(--header-font);
            color: var(--color-warm);
        }
    }

    .journal-page-header {
        font-family: var(--primary-font);
        h1 {
            @include h1;
        }
        h2 {
            @include h2;
        }
        h3 {
            @include h3;
        }
        h4 {
            @include h4;
        }
        h5 {
            @include h5;
        }
        h6 {
            @include h6;
        }
    }

    .journal-entry-pages {
        padding: 0.5rem;
        padding-top: 0px;
        margin-right: 20px;
    }

    .journal-page-content {
        @include editor-text;

        hr {
            @include gradient-border;
        }
    }

    .edit-container button {
        @include shadowed(#6b3a0f2b, 10px);
        background: var(--color-faded-bg);
        border-color : var(--color-faded);
        color : var(--color-warm);

        &:hover {
            color: var(--color-cream);
            background-color: var(--color-warm);
            border-color: var(--color-cream);
        }
    }

}
