@mixin window-header() {
    &:not(.minimized) {
        .window-header {
            background: none;
            font-family: CaslonAntique;
            font-size: var(--font-size-18);

            >* {
                color: var(--color-cream);

                i {
                    opacity: 0.9;
                }
            }

            button {
                outline: none;
                box-shadow: none;
                &:hover {
                    background: unset;
                }
                &.header-control {
                    --button-size: 2rem;
                    background-image: url(./ui/buttons/button-stamp.webp);
                    background-size: contain;
                    background-position: 0px -1px;
                }
            }
        }
    }

    .controls-dropdown {
        background: none;
        border: 1px solid;
        border-image: url(./ui/backgrounds/context-menu.webp) 4 repeat;
        border-image-slice: 40 fill;
        border-image-width: 100px;
        border-image-outset: 0px 0px 0px 0px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0);

        .control:hover {
            background: var(--color-cream);
            color: black
        }

        &.collapsing,
        &.expanding {
            background: url(./ui/backgrounds/context-menu.webp);
            background-size: 100%;
        }

    }

}

@mixin editor-button {
    @include shadowed(#6b3a0f2b, 10px);
    background: var(--color-faded-bg);
    border-color : var(--color-faded);
    color : var(--color-warm);

    &:hover {
        color: var(--color-cream);
        background-color: var(--color-warm);
        border-color: var(--color-cream);
    }
}

@mixin search() {
    background: url(./ui/backgrounds/parchment-texture.webp);
    border: 2px groove var(--color-element-border);
    border-image: url(./ui/borders/search-border.webp) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 1px;
    box-shadow: inset 0 0 10px #000000;
    color: black;
    outline: none;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }
}

@mixin links() {
    
    .inline-roll,
    .action-link,
    .content-link {
        border-radius: 2px;
        border: 1px solid #b9935e99;
        white-space: nowrap;
        word-break: break-all;
        box-shadow: inset 0px 0px 4px #b98132;
        background: #9e57001f;
        color: black;

        > i {
            color: #666;
        }

        &.broken {
            background: rgba(255, 0, 0, 0.05);
            border: 1px dashed red;
        }

        &.critical,
        &.critical-roll {
            color: green;
            > i {
                color: green;
            }
        }

        &.fumble,
        &.fumble-roll {
            color: darkred;
            > i {
                color: darkred;
            }
        }
    }
}

@mixin shadowed($color: #00000052, $size: 10px) {
    box-shadow: 0 0 $size $color inset;
}

@mixin wfrp-button {
    border: 1px solid black;
    border-image: url(./ui/borders/footer-button.webp) 10 repeat;
    border-image-width: 4px;
    border-image-outset: 0px;
    box-shadow: 4px 4px 1px #00000085;
    background: url(./ui/buttons/button-wide-red.webp) repeat;
}

@mixin wfrp-button-sm {
    background: url(./ui/buttons/button-wide-cyan.webp) repeat;
    border: 1px solid black;
    border-image: url(./ui/borders/footer-button.webp) 10 repeat;
    border-image-width: 4px;
    border-image-outset: 0px;

    &[aria-pressed='true'],
    &.active {
        // color: var(--color-warm-1);
        box-shadow: inset 0 0 10px var(--color-warm-1);
       background: url(./ui/buttons/button-wide-red.webp) repeat;
    }
}

@mixin h1 {
    margin: 0.5em 0 0.5em;
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: CaslonAntique;
    text-align: center;
    border: none;
    letter-spacing: 2px;
    color: black
}

@mixin h2 {
    margin: 0px 0 0.5em;
    font-size: 2.0em;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid black;
    font-family: CaslonAntique;
    color: black;
    line-height: normal;
}

@mixin h3 {
    margin: 0 0 0.5rem;
    border: none;
    background: none;
    font-family: CaslonAntique;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.7em;
    color: black
}

@mixin h4 {
    font-family: CaslonPro;
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}

@mixin h5 {
    font-family: CaslonPro;
    margin: 0 0 0.5rem;
    font-weight: bold;
    color: black
}

@mixin h6 {
    font-family: CaslonPro;
    font-size: 0.85em;
    font-weight: bold;
    border: none;
    background: none;
    color: black
}



@mixin editor-text() {
    @include links;

    h1 {
        @include h1;
    }

    h2 {
        @include h2;
    }

    h3 {
        @include h3;
    }

    h4.sidebar-title {
        margin: 0 0 0.5rem;
        border: none;
        background: none;
        font-family: CaslonAntique;
        font-variant: small-caps;
        font-weight: bold;
        font-size: 1.7em;
        color: black;
        text-align: center;
    }

    h4 {
        @include h4;
    }

    h5 {
        @include h5;
    }

    h6 {
        @include h6;
    }

    figure {
        img {
            box-shadow: none;
        }
    }

    .content-embed {
        .embed-caption {

            color: black;
            margin: 0px 1rem;
        }
        figcaption {
            cite {
                font-style: normal
            }
        }
    }

    p code {
        font-family: "Lucida Console";
    }

    p {
        margin: 0.5em 0;
        background: none;
        border: none;
        width: 100%;
    }

    ol li,
    ul li {
        font-size: var(--font-size-14);
        background: none;
        border: none;
        width: 100%;
        padding-left: 10px;
    }

    blockquote {
        margin: 0.5em 0 0.5em 5px;
        em {
            font-style: normal;
        }
    }

    blockquote.sidebar {
        border-left: 0px;
        border: 2px ridge #825d4b87;
        padding: 10px;
        background-color: #825d4b38;
    }

    table {
        background: none;
    }

    div {
        margin: 0.5em 0;
        background: none;
        border: none;
    }

    section.secret.hook 
    {
        background: url(./ui/backgrounds/hook-background.webp);
        background-repeat: repeat;
        background-size: contain;
        border: 25px solid transparent;
        border-image: url(./ui/borders/hook-border.webp);
        border-image-slice: 45 43 40 45;
        background-clip: content-box;
        padding: 0px;

        button.reveal {
            display: none;
        }

        &:not(.no-image)::before {
            background-image: url(./ui/misc/hook.webp);
            background-size: 73px 43px;
            content: "";
            width: 73px;
            height: 43px;
            float: right;
            margin-left: -43px;
        }
    }

    blockquote.parchment {
        background: none;
        border: 25px solid transparent;
        border-image: url(./ui/backgrounds/stamp-background.webp);
        border-image-slice: 150 fill;
        filter: drop-shadow(0 0 3px black);

        &:not(.no-image)::after {
            background-image: url(./ui/misc/stamp.webp);
            background-size: 62px 60px;
            content: "";
            width: 62px;
            height: 60px;
            float: right;
            position: relative;
            top: -50px;
            right: -16px;
        }
    }

    ul li::marker{
        font-family: OnlySkulls;
        content: "0";
        font-style: normal;
    }
}

@mixin black-bg {
    color: #d6d6d6;
    border: 1px solid var(--color-form-border);
    background: #080808;
}

@mixin wfrp-form {
        .form-group {
            @include wfrp-form-input();
            gap: 0px;
            label {
                color: #d6d6d6;
                border: 1px solid var(--color-form-border);
                background: #080808;
                height: 2rem;
                line-height: 2rem;
                padding: 0px 0.5rem;
            }
            .form-fields {
                input:not([type="checkbox"]),
                select {
                    border-left: none;
                }
            }
        }
}

@mixin wfrp-form-input {
        input:not([type="checkbox"]),
        select {
            height: 2rem;
            line-height: 2rem;
            border-radius: 0px;
            outline: none;
            color: #d6d6d6;
            border: 1px solid var(--color-faded);
            box-shadow: 0px 0px 10px inset black;
            background: #352516;
        }
}