<div class="condition-list">
  {{#each conditions as |condition c|}}
  <div class="sheet-condition" data-cond-id={{condition.id}}>
    <a>
      {{#if condition.existing}}
      <img class="condition-click" style="border:none" width="50" height="50"src={{condition.icon}} /> 
      {{else}}
      <img class="condition-click" style="border:none; opacity: 0.5" width="50" height="50"src={{condition.icon}} /> 
      {{/if}}
    </a>
    <div class="condition-controls">
        {{#if condition.boolean}}
          {{#if condition.existing}}
          <a class="condition-toggle"><i class="far fa-check-circle"></i></a>
          {{else}}
          <a class="condition-toggle"><i class="far fa-circle"></i></a>
          {{/if}}
        {{else}}
        <a class="condition-value">{{condition.value}}</a>
        {{/if}}
    </div>
  </div>
  {{/each}}
</div>
