{{#if actor.data.flags.wfrp4e.showExtendedTests}}
<div id="extended-tests-list">
  <div class="inventory-header item">
    <div class="name">{{localize "Extended Test"}}</div>
    <div class="progress">{{localize "ITEM.Progress"}}</div>
    <div class="item-controls">
      <a class="skill-switch" title="{{localize 'SHEET.SwitchToSkills'}}">
        <i class="fas fa-reply"></i>
      </a>
      <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="extendedTest">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>

  <ol class="inventory-list save-scroll">
    {{#each items.extendedTests as |item i|}}

    {{#if (isGM)}}
    <li class="item test-item" data-item-id="{{item.id}}">
      <div class="test-name">
        <a class="name test-select">{{item.name}}</a>
      </div>
      <div class="test-progress">
        <div class="progress-bar-container">
          <div class="progress-bar" style="width: {{item.SL.pct}}%"></div>
        </div>
        <span><a class="extended-SL">{{item.SL.current}}</a> / {{item.SL.target}} {{localize "SuccessLevels"}}</span>
      </div>

      <div class="item-controls">
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{else}}
    {{#unless item.hide.test}}
    <li class="item test-item" data-item-id="{{item.id}}">
      <div class="test-name">
        <a class="name test-select">{{item.name}}</a>
      </div>
      {{#unless item.hide.progress}}
      <div class="test-progress">
        <div class="progress-bar-container">
          <div class="progress-bar" style="width: {{item.SL.pct}}%"></div>
        </div>
        <span>{{item.SL.current}} / {{item.SL.target}} {{localize "SuccessLevels"}}</span>
      </div>
      {{else}}
      <div class="test-progress-unknown">
        <span class="unknown-progress">???</span>
      </div>
      {{/unless}}


      <div class="item-controls">
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/unless}}
    {{/if}}
    {{/each}}
  </ol>
</div>
{{/if}}
{{#unless actor.data.flags.wfrp4e.showExtendedTests}}
<div class="skill-section" ondragstart="return false;" ondrop="return false;">
  <div id="basic-skills-list" class="skill-type">
    <h3>{{localize "Basic Skills"}}</h3>
    <div class="inventory-header item">
      <div class="name">{{localize "Name"}}</div>
      <div class="char">{{localize "SHEET.CharAbbrev"}}</div>
      <div class="adv">{{localize "SHEET.AdvAbbrev"}}</div>
      <div class="total">{{localize "Total"}}</div>
      {{#if (isGM)}}
      <div class="item-controls">
        {{else}}
        <div style="visibility : hidden" class="item-controls">
          {{/if}}
          <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="skill"
            data-skill-type="bsc"><i class="fas fa-plus"></i>
          </a>
        </div>
      </div>

      <ol class="inventory-list save-scroll">
        {{#each items.skills.basic as |item i|}}
        <li class="item" data-item-id="{{item.id}}">
          <div class="skill-name">
            <a class="name skill-select">{{item.name}}</a>
            {{#if item.advances.complete}}
            <a class="advancement-indicator" title="{{item.cost}} Exp" data-target="skill">&#10003;</a>
            {{else if item.advances.indicator}}
            <a class="advancement-indicator" title="{{item.cost}} Exp" data-target="skill">+</a>
            {{else}}
            <a class="advancement-indicator" style="visibility : hidden">+</a>
            {{/if}}
          </div>

          <h3 class="row-label">{{localize item.characteristic.abrev }}</h3>
          <h3 class="row-value">{{item.characteristic.value}}</h3>

          <div class="skill-advances input-field">
            <input data-item-id="{{item.id}}" type="text" data-dtype="{{item.advances.type}}"
              value="{{item.advances.value}}" />
          </div>

          <a class="skill-total {{item.modified}}">{{item.total.value}}</a>

          {{#if ../document.isOwner}}
          <a class="item-controls item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
          {{/if}}
        </li>

        {{/each}}
      </ol>
    </div>

    <div id="advanced-skills-list" class="skill-type">
      <h3>{{localize "Grouped & Advanced Skills"}}</h3>
      <div class="inventory-header item">
        <div class="name">{{localize "Name"}}</div>
        <div class="char">{{localize "SHEET.CharAbbrev"}}</div>
        <div class="adv">{{localize "SHEET.AdvAbbrev"}}</div>
        <div class="total">{{localize "Total"}}</div>
        {{#if (isGM)}}
        <div class="item-controls">
          {{else}}
          <div style="visibility : hidden" class="item-controls">
            {{/if}}
            <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="skill"
              data-skill-type="adv">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>

        <ol class="inventory-list save-scroll">
          {{#each items.skills.advanced as |item i|}}
          <li class="item skill-item" data-item-id="{{item.id}}">
            <div class="skill-name">
              <a class="name skill-select">{{item.name}}</a>
              {{#if item.advances.complete}}
              <a class="advancement-indicator" title="{{item.cost}} Exp" data-target="skill">&#10003;</a>
              {{else if item.advances.indicator}}
              <a class="advancement-indicator" title="{{item.cost}} Exp" data-target="skill">+</a>
              {{else}}
              <a class="advancement-indicator" style="visibility : hidden">+</a>
              {{/if}}
            </div>

            <h3 class="row-label">{{localize item.characteristic.abrev }}</h3>
            <h3 class="row-value">{{item.characteristic.value}}</h3>

            <div class="skill-advances input-field">
              <input data-item-id="{{item.id}}" type="text" data-dtype="{{item.advances.type}}"
                value="{{item.advances.value}}" />
            </div>

            <a class="skill-total {{item.modified}}">{{item.total.value}}</a>


            {{#if ../document.isOwner}}
            <a class="item-controls item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i
                class="fas fa-trash"></i></a>
            {{/if}}
          </li>

          {{/each}}
          {{#each career.untrainedSkills as |item i|}}
          <li class="item skill-item">
            <div>
              <a class="untrained untrained-skill">{{item}}</a>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>

    <div id="extended-tests">
      <div class="inventory-header item">
        <a class="name skill-switch">{{items.extendedTests.length}} {{localize "Extended Tests"}}</a>
        <div class="item-controls">
          <a class="skill-switch" title="{{localize 'SHEET.SwitchToExtendedTests'}}">
            <i class="fas fa-reply"></i>
          </a>
        </div>
      </div>
    </div>
    {{/unless}}