<h2 class="note-section label">{{localize "Biography"}}</h2>
<div class="note-section biography">
  {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
</div>

<div class="ambition-section">
  <h4>{{localize "Personal Ambitions"}}</h4>
  <div class="ambition first-row">
    <a class="label-details">{{localize "Short Term"}}</a>
    <input class="input-details" name="data.details.personal-ambitions.short-term" type="text"
      value="{{data.details.personal-ambitions.short-term}}" />
  </div>

  <div class="ambition">
    <a class="label-details">{{localize "Long Term"}}</a>
    <input class="input-details" name="data.details.personal-ambitions.long-term" type="text"
      value="{{data.details.personal-ambitions.long-term}}" />
  </div>
</div>

<div class="ambition-section">
  <h4 id="party-ambition">{{localize "Party Ambitions"}}</h4>
  <div class="ambition first-row">
    <a class="label-details">{{localize "Short Term"}}</a>
    <input class="input-details" name="data.details.party-ambitions.short-term" type="text"
      value="{{data.details.party-ambitions.short-term}}" />
  </div>

  <div class="ambition">
    <a class="label-details">{{localize "Long Term"}}</a>
    <input class="input-details" name="data.details.party-ambitions.long-term" type="text"
      value="{{data.details.party-ambitions.long-term}}" />
  </div>
</div>


<div class="motivation">
  <div class="label-motivation">{{localize "Motivation"}}</div>
  <input class="input-details" name="data.details.motivation.value" type="text"
    value="{{data.details.motivation.value}}" />
</div>

{{#if isGM}}
<h2 class="note-section label">{{localize "GM Notes"}}</h2>
<div class="note-section gmnotes">
  {{editor content=data.details.gmnotes.value target="data.details.gmnotes.value" button=true owner=owner editable=editable}}
</div>
{{/if}}


{{#if data.details.experience.log}}

<div class="exp-log">
  <div class="inventory-header item">
    <span class="exp-spent">{{localize "SHEET.ExpChange"}}</span>
    <span class="reason">{{localize "Reason"}}</span>
    <span class="total-spent">{{localize "SHEET.TotalSpentExp"}}</span>
  </div>
<ol class="inventory-list save-scroll">
  {{#each data.details.experience.log as |exp i|}}
  <li class="item exp-entry" data-index="{{exp.index}}">
    <div class="content">
      <span class="exp-spent values">
        <div class="exp-left-aligner">
          <span {{#if (eq exp.type "total")}} style="visibility: hidden;" {{/if}}>{{exp.amount}}</span>
          <span class="exp-divisor"> / </span>
          <span {{#if (eq exp.type "spent")}} style="visibility: hidden;" {{/if}}>{{exp.amount}}</span>
        </div>
      </span>
      <span class="reason">{{exp.reason}}</span>
      <span class="total-spent">{{exp.spent}} / {{exp.total}}</span>
      {{#if ../isGM}}
      <a class="exp-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      {{/if}}
    </div>
  </li>
  {{/each}}
</ol>
</div>
{{/if }}