<div class="condition-list">
  {{#each conditions as |condition c|}}
  <div class="sheet-condition" data-cond-id={{condition.id}}>
    <a>
      {{#if condition.existing}}
      <img class="condition-click" style="border:none" width="50" height="50"src={{condition.icon}} /> 
      {{else}}
      <img class="condition-click" style="border:none; opacity: 0.5" width="50" height="50"src={{condition.icon}} /> 
      {{/if}}
    </a>
    <div class="condition-controls">
        {{#if condition.boolean}}
          {{#if condition.existing}}
          <a class="condition-toggle"><i class="far fa-check-circle"></i></a>
          {{else}}
          <a class="condition-toggle"><i class="far fa-circle"></i></a>
          {{/if}}
        {{else}}
        <a class="condition-value">{{condition.value}}</a>
        {{/if}}
    </div>
  </div>
  {{/each}}
</div>

<div class="inventory-header item list-header">
  <span class="name">{{localize "SHEET.TemporaryEffects"}}</span>
  <span class="source">{{localize "SHEET.Source"}}</span>
  {{#if owner}}
  <div class="list-controls">
    {{else}}
    <div class="list-controls" style = "visibility : hidden;">
    {{/if}}
    <a class="item-control effect-create" data-effect="temporary" title="{{localize 'SHEET.CreateItem'}}"><i class="fas fa-plus"></i></a>
  </div>
</div>

<ol class="inventory-list sheet-list save-scroll">
  {{#each actor.tempEffects as |effect e|}}
  <li class="item" data-item-id="{{effect._id}}" {{#if effect.disabled}} style="opacity : 0.5"{{/if}}>
    <div class="content">
      <div class="item-name effect-name">
        <div class="image" style="background-image: url({{effect.icon}})"></div>
        <a class="name effect-title">{{effect.label}}</a>
      </div>

      <span class="source">
        {{effect.sourcename}}
      </span>

      {{#if ../owner}}
      <div class="list-controls effect-controls">
      {{else}}
      <div class="list-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-control effect-toggle" title="{{localize 'SHEET.ToggleEffect'}}"><i class="far fa-check-circle"></i></a>
        <a class="effect-control effect-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
  </li>
  {{/each}}
</ol>


<div class="inventory-header item injury-header">
  <span class="name">{{localize "Injury"}}</span>
  <span class="location">{{localize "Location"}}</span>
  <span class="duration">{{localize "Duration"}}</span>
  {{#if owner}}
  <div class="item-controls">
    {{else}}
    <div class="item-controls" style = "visibility : hidden;">
    {{/if}}
    <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="injury"><i class="fas fa-plus"></i></a>
  </div>
</div>

<ol class="inventory-list injury-list save-scroll">
  {{#each actor.injuries as |injury i|}}
  <li class="item" data-item-id="{{injury._id}}">
    <div class="content">
      <div class="item-name injury-name item-dropdown">
        <div class="image" style="background-image: url({{injury.img}})"></div>
        <a class="name injury-title">{{injury.name}}</a>
      </div>

      <div class="injury-location">
        {{injury.data.location.value}}
      </div>

      
      <a class="injury-duration duration">
        {{#if injury.data.duration.permanent}}
        {{localize "Permanent"}}
        {{else}}
        {{injury.data.duration.value}} {{localize "days"}}
        {{/if}}
      </a>

      {{#if ../owner}}
      <div class="item-controls">
      {{else}}
      <div class="item-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
  </li>
  {{/each}}
</ol>

<div class="inventory-header item critical-header">
  <span class="name">{{localize "Critical"}}</span>
  <span class="location">{{localize "Location"}}</span>
  {{#if owner}}
  <div class="item-controls">
    {{else}}
    <div class="item-controls" style = "visibility : hidden;">
    {{/if}}
    <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="critical"><i class="fas fa-plus"></i></a>
  </div>
</div>

<ol class="inventory-list critical-list save-scroll">
  {{#each actor.criticals as |critical c|}}
  <li class="item" data-item-id="{{critical._id}}">
    <div class="content">
      <div class="item-name critical-name item-dropdown">
        <div class="image" style="background-image: url({{critical.img}})"></div>
        <a class="name critical-title">{{critical.name}}</a>
      </div>

      <div class="critical-location">
        {{critical.data.location.value}}
      </div>

      {{#if ../owner}}
      <div class="item-controls">
        {{else}}
        <div class="item-controls" style = "visibility : hidden;">
        {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
  </li>
  {{/each}}
</ol>

<div class="inventory-header item psychology-header">
  <div id="name">{{localize "Psychology"}}</div>
  {{#if isGM}}
  <div class="item-controls">
  {{else}}
  <div class="item-controls" style="visibility : hidden">
    {{/if}}
    <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="psychology"><i class="fas fa-plus"></i>
    </a>
  </div>
</div>

<ol class="inventory-list psychology-list save-scroll">
  {{#each actor.psychology as |psych p|}}
  <li class="item" data-item-id="{{psych._id}}">
    <div class="content">
      <div class="item-name item-dropdown">
        <div class="image item-image" style="background-image: url({{psych.img}})"></div>
        <span class="name">{{psych.name}}</a>
      </div>

      {{#if ../owner}}
      <div class="item-controls">
      {{else}}
      <div class="item-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
</ol>

<div class="inventory-header item mutation-header">
  <span id="name">{{localize "Corruption"}} & {{localize "Mutation"}}</span>
  {{#if isGM}}
  <div class="item-controls">
  {{else}}
  <div class="item-controls" style="visibility : hidden">
    {{/if}}
    <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="mutation">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>


<ol class="inventory-list mutation-list save-scroll">
  {{#each actor.mutations as |item i|}}
  <li class="item" data-item-id="{{item._id}}">
    <div class="content">
      <div class="item-name currency-name item-dropdown">
        <div class="image item-image" style="background-image: url({{item.img}})"></div>
        <span class="name">{{item.name}}</a>
      </div>

      {{#if ../owner}}
      <div class="item-controls">
      {{else}}
      <div class="item-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
</ol>

{{#if isGM}}
<div class="inventory-header item disease-header">
  <div id="name">{{localize "Disease"}}</div>
  <div id="incubation">{{localize "Incubation"}}</div>
  <div id="duration">{{localize "Duration"}}</div>
  <!--<a class="item-control advance-diseases" title="{{localize 'SHEET.AdvanceDiseases'}}"><i class="far fa-arrow-alt-circle-right"></i></a>-->
  {{#if isGM}}
  <div class="item-controls">
    {{else}}
    <div class="item-controls" style="visibility : hidden">
      {{/if}}
      <a class="item-control item-create" title="{{localize 'SHEET.CreateItem'}}" data-type="disease"><i class="fas fa-plus"></i></a>
    </div>
</div>

<ol class="inventory-list disease-list save-scroll">
  {{#each actor.diseases as |item i|}}
  <li class="item" data-item-id="{{item._id}}">
    <div class="content">
      <div class="item-name currency-name item-dropdown">
        <div class="image item-image" style="background-image: url({{item.img}})"></div>
        <span class="name">{{item.name}}</a>
      </div>


      <a class="incubation disease-roll" data-type="incubation">{{item.data.incubation.value}} {{item.data.incubation.unit}}</a>
      <a class="duration disease-roll" data-type="duration">{{item.data.duration.value}} {{item.data.duration.unit}}</a>

      {{#if ../owner}}
      <div class="item-controls">
      {{else}}
      <div class="item-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-post" title="{{localize 'SHEET.PostItem'}}"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="{{localize 'SHEET.EditItem'}}"><i class="fas fa-edit"></i></a>
        <a class="item-dropdown" title="{{localize 'SHEET.Dropdown'}}"><i class="fas fa-chevron-down"></i></a>
        <a class="item-control item-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
      </div>
    </div>
  </li>
  {{/each}}
</ol>
{{/if}}


<div class="inventory-header item list-header">
  <span class="name">{{localize "SHEET.PassiveEffects"}}</span>
  <span class="source">{{localize "SHEET.Source"}}</span>
  {{#if owner}}
  <div class="list-controls">
    {{else}}
    <div class="list-controls" style = "visibility : hidden;">
    {{/if}}
    <a class="item-control effect-create" data-effect="passive" title="{{localize 'SHEET.CreateItem'}}"><i class="fas fa-plus"></i></a>
  </div>
</div>

<ol class="inventory-list sheet-list save-scroll">
  {{#each actor.passiveEffects as |effect e|}}
  <li class="item" data-item-id="{{effect._id}}" {{#if effect.disabled}} style="opacity : 0.5"{{/if}}>
    <div class="content">
      <div class="item-name effect-name">
        <div class="image" style="background-image: url({{effect.icon}})"></div>
        <a class="name effect-title">{{effect.label}}</a>
      </div>

      <span class="source">
        {{effect.sourcename}}
      </span>

      {{#if ../owner}}
      <div class="list-controls effect-controls">
      {{else}}
      <div class="list-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-control effect-toggle" title="{{localize 'SHEET.ToggleEffect'}}"><i class="far fa-check-circle"></i></a>
        <a class="effect-control effect-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
  </div>
  </li>
  {{/each}}
</ol>

<div class="inventory-header item list-header">
  <span class="name">{{localize "SHEET.DisabledEffects"}}</a>
  <span class="source">{{localize "SHEET.Source"}}</span>
  {{#if owner}}
  <div class="list-controls">
    {{else}}
    <div class="list-controls" style = "visibility : hidden;">
    {{/if}}
  </div>
</div>

<ol class="inventory-list sheet-list save-scroll">
  {{#each actor.disabledEffects as |effect e|}}
  <li class="item" data-item-id="{{effect._id}}" {{#if effect.disabled}} style="opacity : 0.5"{{/if}}>
    <div class="content">
      <div class="item-name effect-name">
        <div class="image" style="background-image: url({{effect.icon}})"></div>
        <a class="name effect-title">{{effect.label}}</a>
      </div>
      
      <span class="source">
        {{effect.sourcename}}
      </span>

      {{#if ../owner}}
      <div class="list-controls effect-controls">
      {{else}}
      <div class="list-controls" style = "visibility : hidden;">
      {{/if}}
        <a class="item-control effect-toggle" title="{{localize 'SHEET.ToggleEffect'}}"><i class="far fa-circle"></i></a>
        <a class="effect-control effect-delete" title="{{localize 'SHEET.DeleteItem'}}"><i class="fas fa-trash"></i></a>
  </div>
  </li>
  {{/each}}
</ol>

<div class="inventory-header item list-header">
  <span class="name">{{localize "SHEET.AppliedEffects"}}</span>
  {{#if owner}}
  <div class="list-controls">
    {{else}}
    <div class="list-controls" style = "visibility : hidden;">
    {{/if}}
    <a class="item-control effect-create" data-effect="applied" title="{{localize 'SHEET.CreateItem'}}"><i class="fas fa-plus"></i></a>
  </div>
</div>

<ol class="inventory-list sheet-list save-scroll">
  {{#each actor.appliedEffects as |effect e|}}
  <li class="item" data-item-id="{{effect._id}}">
    <div class="content">
      <div class="item-name effect-name">
        <div class="image" style="background-image: url({{effect.icon}})"></div>
        <a class="name effect-title">{{effect.label}}</a>
      </div>
    

      {{#if ../owner}}
      <div class="list-controls effect-controls">
      {{else}}
      <div class="list-controls" style = "visibility : hidden;">
      {{/if}}
      <a class="effect-control effect-target" title="{{localize 'SHEET.ApplyToTarget'}}"><i class="fas fa-crosshairs"></i></a>
      <a class="effect-control effect-delete" title="{{localize 'SHEET.Target'}}"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
