<form class="{{cssClass}}" autocomplete="off">

  <div class="header personal">
    <a id="configure-actor">{{localize "Configure"}}</a>
  </div>

  <header class="sheet-header" ondragstart="return false;" ondrop="return false;">
    <h1 class="charname item">
      <input class="input name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" />
      <a class="label name name-gen">{{localize "Name"}}</a>
    </h1>

    <div class="item">
      <input class="input species" style="box-shadow: none !important;" type="text" value="{{actor.Species}}"
      placeholder="{{localize 'Species'}}" />
      <span class="label species">{{localize "Species"}}</span>
    </div>

    <div id="field-gender" class="item">
      <input class="input gender" name="data.details.gender.value" type="text" value="{{data.details.gender.value}}"
      placeholder="{{localize 'Gender'}}" />
      <span class="label gender">{{localize "Gender"}}</span>
    </div>
  </header>

  <section class="general" ondragstart="return false;" ondrop="return false;">
    <img class="charimg profile" src="{{actor.img}}" title="{{actor.name}}" height="95" width="95" data-edit="img">
    <div class="items">
      <div class="characteristics">
        <div class="characteristics-table" cellpadding="0">
          <!-- <div class="table-header"> -->
            {{#each data.characteristics as |ch c|}}
            <div title="{{localize ch.label}}" data-char="{{ch}}" class="table-header">
              <a  class ="ch-roll" data-char="{{c}}">{{localize ch.abrev}}</a>
            </div>
            {{/each}}
          <!-- </div> -->
          <!-- <div class="table-row"> -->
            {{#each data.characteristics as |ch c|}}
            <div class="row-type table-data">
              <input class="ch-edit" data-char="{{c}}" type="text" value="{{ch.value}}" data-dtype="Number">
            </div>
            {{/each}}
          <!-- </div> -->
          </div>
      </div>

      <div class="main-row">

        <div class="movement row-section">
          <div class="move-section">
            <div class="move-value">
              <input name="data.details.move.value" type="text" value="{{data.details.move.value}}" data-dtype="Number">
            </div>
            <div class="move-name">
              <h4 id="movement-label">{{localize "Movement"}}</h4>
            </div>
          </div>
          <div class="move-section">
            <div class="move-value">
              {{#if actor.data.flags.autoCalcWalk}}
              <a class="auto-calc-toggle" toggle-type="walk">{{data.details.move.walk}} {{localize "yds"}}</a>
              {{else}}
              <input class="auto-calc-toggle" toggle-type="walk" name="data.details.move.walk" type="text"
                value="{{data.details.move.walk}}" data-dtype="String">
              {{/if}}
            </div>
            <div class="move-name">
              <h4 id="walk-label">{{localize "Walk"}}</h4>
            </div>
          </div>
          <div class="move-section">
            <div class="move-value">
              {{#if actor.data.flags.autoCalcRun}}
              <a class="auto-calc-toggle" toggle-type="run">{{data.details.move.run}} {{localize "yds"}}</a>
              {{else}}
              <input class="auto-calc-toggle" toggle-type="run" name="data.details.move.run" type="text"
                value="{{data.details.move.run}}" data-dtype="String">
              {{/if}}
            </div>
            <div class="move-name">
              <h4 id="run-label">{{localize "Run"}}</h4>
            </div>
          </div>
        </div>
      
        <div class="wounds row-section">
          <div class="wounds-section">
            <span class="top label">{{localize "Wounds"}}</span>
            <div class="wounds-value-box">
              <div id="value">
                <input class="wounds-value" data-dtype="{{data.status.wounds.type}}" type="text" value="{{data.status.wounds.value}}">
              </div>
              <div id="divisor">
                /
              </div>
              <div id="wounds-max">
                {{#if actor.data.flags.autoCalcWounds}}
                <a class="auto-calc-toggle" toggle-type="wounds">{{data.status.wounds.max}}</a>
                {{else}}
                <input class="auto-calc-toggle" toggle-type="wounds" name="data.status.wounds.max" type="text"
                  value="{{data.status.wounds.max}}" data-dtype="{{data.status.wounds.type}}">
                {{/if}}
              </div>
            </div>
          </div>
        </div>

        <div class="randomize-buttons">
          <a class="randomize" title="{{localize 'Characteristics'}}" data-target="c">{{localize "RANDOMIZER.C"}}</a>
          <a class="randomize" title="{{localize 'Skills'}}" data-target="s">{{localize "RANDOMIZER.S"}}</a>
          <a class="randomize" title="{{localize 'Talents'}}" data-target="t">{{localize "RANDOMIZER.T"}}</a>
          <span class="randomize-label">{{localize "Randomize Attributes"}}</span>
        </div>
      </div>
      
  </section>

  <!-- TABS -->
  <section id="tab-sections">
    <nav id="wfrp4e-primarytabs" class="sheet-tabs tabs" data-group="primary" ondragstart="return false;"
      ondrop="return false;">
      <a class="item active" data-tab="main">{{localize "Main"}}</a>
      <a class="item" data-tab="skills">{{localize "Skills"}}</a>
      <a class="item" data-tab="combat">{{localize "Combat"}}</a>
      <a class="item" data-tab="effects">{{localize "Effects"}}</a>
      {{#if actor.hasSpells}}
      <a class="item" data-tab="magic">{{localize "Magic"}}</a>
      {{/if}}
      {{#if actor.hasPrayers}}
      <a class="item" data-tab="religion">{{localize "Religion"}}</a>
      {{/if}}
      <a class="item" data-tab="inventory">{{localize "Trappings"}}</a>
      <a class="item" data-tab="notes">{{localize "Notes"}}</a>
    </nav>
      <section class="content">
        <div class="tab main save-scroll" data-tab="main" data-group="primary">
          {{> systems/wfrp4e/templates/actors/creature/creature-main.html}}
        </div>
        <div class="tab skills save-scroll" data-tab="skills" data-group="primary">
          {{> systems/wfrp4e/templates/actors/actor-skills.html}}
        </div>
        <div class="tab combat save-scroll" data-tab="combat" data-group="primary">
          {{> systems/wfrp4e/templates/actors/actor-combat.html}}
        </div>
        <div class="tab effects save-scroll" data-tab="effects" data-group="primary">
          {{> systems/wfrp4e/templates/actors/actor-effects.html}}
        </div>
        <div class="tab inventory save-scroll" data-tab="inventory" data-group="primary">
          {{> systems/wfrp4e/templates/actors/actor-inventory.html}}
        </div>
        <div class="tab magic save-scroll" data-tab="magic" data-group="primary">
          {{> systems/wfrp4e/templates/actors/actor-magic.html}}
        </div>
        <div class="tab religion save-scroll" data-tab="religion" data-group="primary">
          {{> systems/wfrp4e/templates/actors/actor-religion.html}}
        </div>
        <div class="tab notes save-scroll" data-tab="notes" data-group="primary">
          {{> systems/wfrp4e/templates/actors/creature/creature-notes.html}}
        </div>
    </section>
  </section>

</form>
