<div class="creature-lists save-scroll">
  <div class="creature-overview-label">{{localize "Creature Overview"}}
    <a class="stomp-icon combat-icon" title = "{{localize 'SHEET.Stomp'}}"><i class="fas fa-paw"></i></a>
    <a class="dodge-icon combat-icon" title = "{{localize 'SHEET.Dodge'}}"><i class="fas fa-reply"></i></a>
    <a class="improvised-icon combat-icon" title = "{{localize 'SHEET.Improvised'}}"><i class="fas fa-question"></i></a>
  </div>

  <div class="creature-overview">
  {{#if items.skills.trained.length}}
    <div class="list creature-talents">
      <a class="creature-skills label">{{localize "Trained Skills"}}:</a>
      {{#each items.skills.trained as |item i|}}
      <div class="skills content" tabindex="0" data-item-id="{{item.id}}">
        <a class="skills name">{{item.name}}  {{item.total.value}},</a>
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if items.talents.length}}
    <div class="list creature-talents">
      <a class="creature-talents label">{{localize "Talents"}}:</a>
      {{#each items.talents as |item i|}}
      <div class="talents content creature-dropdown" tabindex="0" data-item-id="{{item.id}}">
        <a class="talents name">{{item.name}} </a>
        <a class="talents advances">{{item.Advances}},</a>
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if items.includedTraits.length}}
    <div class="list creature-traits">
      <a class="creature-traits label">{{localize "Traits"}}:</a>
      {{#each items.includedTraits as |item i|}}
      <div class="traits content" tabindex="0" data-item-id="{{item.id}}">
        <a class="traits name">{{item.DisplayName}}{{#if item.rollable.value}} <i class="fas fa-dice" style="opacity: 0.7"></i>{{else}}, {{/if}}</a>
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if items.mutations.length}}
    <div class="list creature-mutations">
      <a class="creature-mutations label">{{localize "Corruption&Mutation"}}:</a>
      {{#each items.mutations as |item i|}}
      <div class="mutations content creature-dropdown" tabindex="0" data-item-id="{{item.id}}">
        <a class="mutations name">{{item.name}},</a>
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if items.psychologies.length}}
    <div class="list creature-psychology">
      <a class="creature-psychology label">{{localize "Psychology"}}:</a>
      {{#each items.psychologies as |item i|}}
      <div class="psychology content creature-dropdown" tabindex="0" data-item-id="{{item.id}}">
        <a class="psychology name">{{item.name}},</a>
      </div>
      {{/each}}
    </div>
    {{/if}}


    {{#if items.criticals.length}}
    <div class="list creature-injuries">
      <a class="creature-injuries label">{{localize "Criticals"}}:</a>
      {{#each items.criticals as |item i|}}
      <div class="injuries content creature-dropdown" tabindex="0" data-item-id="{{item.id}}">
        <a class="injuries name">{{item.name}},</a>
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if items.injuries.length}}
    <div class="list creature-injuries">
      <a class="creature-injuries label">{{localize "Injuries"}}:</a>
      {{#each items.injuries as |item i|}}
      <div class="injuries content creature-dropdown" tabindex="0" data-item-id="{{item.id}}">
        <a class="injuries name">{{item.name}},</a>
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if items.diseases.length}}
    <div class="list creature-diseases">
      <a class="creature-diseases label">{{localize "Diseases"}}:</a>n
      {{#each items.diseases as |item i|}}
      <div class="diseases content creature-dropdown" tabindex="0" data-item-id="{{item.id}}">
        <a class="diseases name">{{item.name}},</a>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

  {{#if items.equipped.weapons.length}}
  <div class="inventory-header item melee-weapon-header">
    <div id="name">{{localize "SHEET.MeleeWeaponHeader"}}</div>
    <div id="group">{{localize "Group"}}</div>
    <div id="damage">{{localize "Damage"}}</div>
    <div id="reach">{{localize "Reach"}}</div>
  </div>

  <ol class="inventory-list melee-weapon-list save-scroll" data-weapon-type="melee">
    {{#each items.equipped.weapons as |item i|}}
    {{#if item.isMelee}}
    <li class="item" data-item-id="{{item.id}}">
      <div class="content">
        <div class="item-name">
          <a class="image" style="background-image: url({{item.img}})"></a>
          <a class="name weapon-item-name">{{item.name}}</a>
        </div>
        <a class="group weapon-group">{{item.WeaponGroup}}</a>
        <div class="damage weapon-damage">+{{item.Damage}}</div>
        <a class="reach weapon-reach">{{item.Reach}}</a>
      </div>
      <div class="content">
        <div class="weapon-property">
          {{#if item.twohanded.value}}
          <span class='label'>{{localize "ITEM.TwoHanded"}}</span>
          {{else if item.offhand.value}}
          <a class='label item-checkbox' data-target="data.offhand.value"><i class="far fa-check-circle"></i> {{localize "Off-hand"}}</a>
          {{else unless ../actor.hasOffhand}}
          <a class='label item-checkbox' data-target="data.offhand.value"><i class="far fa-circle"></i> {{localize "Off-hand"}}</a>
          {{/if}}
  
          {{#if item.properties.special}}
          <a class='text melee-property-quality melee-property-flaw'>{{localize "Special"}}</a>
          {{/if}}
  
          {{#if item.Qualities.length}}
          <span class="label quality">{{localize "SHEET.Qualities"}}</span>
          {{{array item.Qualities "text melee-property-quality"}}}
          {{/if}}

          {{#if item.UnusedQualities.length}}
          <span style="opacity : 0.5" class="label quality">{{localize "SHEET.Qualities"}}</span>
          <span style="display: flex; opacity : 0.5; text-decoration: line-through;">
            {{{array item.UnusedQualities "text melee-property-quality"}}}
          </span>
          {{/if}}

          {{#if item.Flaws.length}}
          <span class="label flaw">{{localize "SHEET.Flaws"}}</span>
          {{{array item.Flaws "text melee-property-flaw"}}}
          {{/if}}
        </div>
      </div>
    </li>
    {{/if}}
    {{/each}}
  </ol>
  
  <div class="inventory-header item ranged-weapon-header">
    <div id="name">{{localize "SHEET.RangedWeaponHeader"}}</div>
    <div id="group">{{localize "Group"}}</div>
    <div id="ammo">{{localize "Ammunition"}}</div>
    <div id="damage">{{localize "Damage"}}</div>
    <div id="range">{{localize "Range"}}</div>
  </div>
  
  <ol class="inventory-list ranged-weapon-list save-scroll" data-weapon-type="ranged">
    {{#each items.equipped.weapons as |item i|}}
    {{#if item.isRanged}}
    <li class="item" data-item-id="{{item.id}}">
      <div class="content">
        <div class="item-name">
          <div class="image" style="background-image: url({{item.img}})"></div>
          <a class="name weapon-item-name">{{item.name}}</a>
        </div>
        <a class="group weapon-group">{{item.WeaponGroup}}</a>
        {{#if item.ammo}}
        <div class="ammo-selector selector">
          {{item.ammo.name}}
        </div>
        {{else}}
        <div class="no-ammo">
          None
        </div>
        {{/if}}
        <div class="damage weapon-damage">+{{item.Damage}}</div>
        <a class="range weapon-range">{{item.Range}} {{localize "yds"}}</a>
      </div>
      <div class="content">
        <div class="weapon-property">
          <div class="weapon-property">
            {{#if item.twohanded.value}}
            <span class='label'>{{localize "ITEM.TwoHanded"}}</span>
            {{else if item.offhand.value}}
            <a class='label item-checkbox' data-target="data.offhand.value"><i class="far fa-check-circle"></i> {{localize "Off-hand"}}</a>
            {{else unless ../actor.hasOffhand}}
            <a class='label item-checkbox' data-target="data.offhand.value"><i class="far fa-circle"></i> {{localize "Off-hand"}}</a>
            {{/if}}
    
            {{#if item.loading}}
              {{#if item.loaded.value}}
                {{#if item.repeater}}
                  <a class='label loaded-checkbox'  data-target="data.loaded.value">{{item.loaded.amt}}/{{item.loaded.max}} {{localize "Loaded"}}</a>
                {{else}}
                  <a class='label loaded-checkbox' data-target="data.loaded.value"><i class="far fa-check-circle"></i> {{localize "Loaded"}}</a>
                {{/if}}
              {{else}}
                {{#if item.repeater}}
                  <a class='label loaded-checkbox'  data-target="data.loaded.value">{{item.loaded.amt}}/{{item.loaded.max}} {{localize "Loaded"}}</a>
                {{else}}
                  <a class='label loaded-checkbox' data-target="data.loaded.value"><i class="far fa-circle"></i> {{localize "Loaded"}}</a>
                {{/if}}
              {{/if}}
            {{/if}}
    
  
          {{#if item.properties.special}}
          <a class='text ranged-property-quality ranged-property-flaw'>{{localize "Special"}}</a>
          {{/if}}

          
        {{#if item.properties.specialAmmo}}
        <a class='text ranged-property-quality ranged-property-flaw'>{{localize "Special Ammo"}}</a>
        {{/if}}
  
          {{#if item.Qualities.length}}
          <span class="label quality">{{localize "SHEET.Qualities"}}</span>
          {{{array item.Qualities "text ranged-property-quality"}}}
          {{/if}}

          {{#if item.UnusedQualities.length}}
          <span style="opacity : 0.5" class="label quality">{{localize "SHEET.Qualities"}}</span>
          <span style="display: flex; opacity : 0.5; text-decoration: line-through;">
            {{{array item.UnusedQualities "text ranged-property-quality"}}}
          </span>
          {{/if}}

          {{#if item.Flaws.length}}
          <span class="label flaw">{{localize "SHEET.Flaws"}}</span>
          {{{array item.Flaws "text ranged-property-flaw"}}}
          {{/if}}
        </div>
      </div>
    </li>
    {{/if}}
    {{/each}}
  </ol>
  {{/if}}

  <div class="armour-section">
    {{#if data.status.armour.head.show}}
    <div class="head column" data-location="head">
      <div class="armour-header">
        <span class="armour-label">{{data.status.armour.head.label}}</span>
        <a class="armour-total" title="{{localize 'SHEET.ArmourAP'}}">{{data.status.armour.head.value}}</a>
        <a class="shield-total" title="{{localize 'SHEET.ShieldAP'}}{{#if items.inventory.misc.totalShieldDamage}} - {{items.inventory.misc.totalShieldDamage}} {{localize 'Damage'}}{{/if}}">{{data.status.armour.shield}}</a>
        <span class="toughness-total" title="{{localize 'SHEET.TB'}}">{{data.characteristics.t.bonus}}</span>
      </div>
    </div>
    {{/if}}

    {{#if data.status.armour.body.show}}
    <div class="body column" data-location="body">
      <div class="armour-header">
        <span class="armour-label">{{data.status.armour.body.label}}</span>
        <a class="armour-total" title="{{localize 'SHEET.ArmourAP'}}">{{data.status.armour.body.value}}</a>
        <a class="shield-total" title="{{localize 'SHEET.ShieldAP'}}{{#if items.inventory.misc.totalShieldDamage}} - {{items.inventory.misc.totalShieldDamage}} Damage{{/if}}">{{data.status.armour.shield}}</a>
        <span class="toughness-total" title="{{localize 'SHEET.TB'}}">{{data.characteristics.t.bonus}}</span>
      </div>
    </div>
    {{/if}}

    {{#if data.status.armour.lArm.show}}
    <div class="lArm column" data-location="lArm">
      <div class="armour-header">
        <span class="armour-label">{{data.status.armour.lArm.label}}</span>
          <a class="armour-total" title="{{localize 'SHEET.ArmourAP'}}">{{data.status.armour.lArm.value}}</a>
          <a class="shield-total" title="{{localize 'SHEET.ShieldAP'}}{{#if items.inventory.misc.totalShieldDamage}} - {{items.inventory.misc.totalShieldDamage}} Damage{{/if}}">{{data.status.armour.shield}}</a>
          <span class="toughness-total" title="{{localize 'SHEET.TB'}}">{{data.characteristics.t.bonus}}</span>
      </div>
    </div>
    {{/if}}
        
    {{#if data.status.armour.rArm.show}}
    <div class="rArm column" data-location="rArm">
      <div class="armour-header">
        <span class="armour-label">{{data.status.armour.rArm.label}}</span>
        <a class="armour-total" title="{{localize 'SHEET.ArmourAP'}}">{{data.status.armour.rArm.value}}</a>
        <a class="shield-total" title="{{localize 'SHEET.ShieldAP'}}{{#if items.inventory.misc.totalShieldDamage}} - {{items.inventory.misc.totalShieldDamage}} Damage{{/if}}">{{data.status.armour.shield}}</a>
        <span class="toughness-total" title="{{localize 'SHEET.TB'}}">{{data.characteristics.t.bonus}}</span>
      </div>
    </div>
    {{/if}}

    {{#if data.status.armour.lLeg.show}}
    <div class="lLeg column" data-location="lLeg">
        <div class="armour-header">
          <span class="armour-label">{{data.status.armour.lLeg.label}}</span>
          <a class="armour-total" title="{{localize 'SHEET.ArmourAP'}}">{{data.status.armour.lLeg.value}}</a>
          <a class="shield-total" title="{{localize 'SHEET.ShieldAP'}}{{#if items.inventory.misc.totalShieldDamage}} - {{items.inventory.misc.totalShieldDamage}} Damage{{/if}}">{{data.status.armour.shield}}</a>
          <span class="toughness-total" title="{{localize 'SHEET.TB'}}">{{data.characteristics.t.bonus}}</span>
        </div>
    </div>
    {{/if}}

    {{#if data.status.armour.rLeg.show}}
    <div class="rLeg column" data-location="rLeg">
      <div class="armour-header rLeg">
        <span class="armour-label">{{data.status.armour.rLeg.label}}</span>
        <a class="armour-total" title="{{localize 'SHEET.ArmourAP'}}">{{data.status.armour.rLeg.value}}</a>
        <a class="shield-total" title="{{localize 'SHEET.ShieldAP'}}{{#if items.inventory.misc.totalShieldDamage}} - {{items.inventory.misc.totalShieldDamage}} Damage{{/if}}">{{data.status.armour.shield}}</a>
        <span class="toughness-total" title="{{localize 'SHEET.TB'}}">{{data.characteristics.t.bonus}}</span>
      </div>
    </div>
    {{/if}}

  </div>
</div>
