<form>
<div class="stage-title">
  <p>Determine Your Species</p>
</div>


<div class="chargen-content">
  <div class="flexrow">
  <div class="select-species">
    <div class="centered">
      <h2>{{localize "Species"}}</h2>
      Select a Species
    </div>
    
    <ul>
    {{#each species as |species key|}}
    <li><a class = "species-select" data-species="{{key}}">{{species}}</a></li>
    {{/each}}
    </ul>

    {{#if context.choose}}
    <div><b>{{localize "Choose"}}:</b> {{configLookup "species" context.choose}}</div>
    {{else if context.roll}}
    <div><b>{{localize "Roll"}}:</b> {{context.roll.roll}} - {{context.roll.result}}</div>
    {{/if}}
    

    {{#unless context.roll}}
    <div class="buttons">
      <a class = 'chargen-button' data-button = 'onRollSpecies' title = '+20 {{localize "EXP"}}'>{{localize "Roll"}}</a>
    </div>
    {{/unless}}
  </div>
  <div class="select-subspecies">
    <div class="centered">
      <h2>{{localize "Subspecies"}} {{#if subspeciesChoices}}- {{configLookup "species" context.species}}{{/if}}</h2>
      {{#if subspeciesChoices}}
      Select a subspecies
      {{/if}}
    </div>
    {{#if subspeciesChoices}}
    <ul>
    {{#each subspeciesChoices as |subspecies key|}}
    <li><b><a class ="subspecies-select" data-subspecies="{{key}}">{{subspecies.name}}</a></b></li>
    {{/each}}
    </ul>
    {{else if context.species}}
    <p class="centered">No subspecies available</p>
    {{/if}}
  </div>
</div>
</div>
<p class="centered">Alternatively, select a species for no bonus experience</p>
<div class="result">
  <span><b>Species</b>: {{speciesDisplay}}</span>
  <span class="xp">XP: {{context.exp}}</span>
</div>
<div class="controls">
  <button type="submit">{{localize "Submit"}}</button>
</div>
</form>

