<form>
  <div class="stage-title">
    <p>Gain Trappings from your Career</p>
  </div>


  <div class="chargen-content">

    <p class="centered">Class Trappings</p>
    <div>
      {{#each context.class as |trapping index|}}
      <a class="content-link" draggable="true" data-uuid="{{trapping.uuid}}"><i class="fas fa-suitcase"></i>{{trapping.name}}</a>
      {{/each}}
    </div>


    <p class="centered">Career Trappings</p>
    <div>
      {{#each context.career as |trapping index|}}
      <a class="content-link" draggable="true" data-uuid="{{trapping.uuid}}"><i class="fas fa-suitcase"></i>{{trapping.name}}</a>
      {{/each}}
    </div>

    <p class="centered">Missing Trappings <i data-tooltip-direction="UP" data-tooltip="<p>These trappings were not found, you can choose to keep them as a blank trapping or remove them. <strong>Note: </strong> It is recommended that you remove the trappings that exist but weren't found, and add them manually (via Added Trappings below)</p>" class="fa-regular fa-circle-question"></i></p> 
    <div class="missing-trappings flexcol">
      {{#each context.missing as |trapping|}}
      <div class="missing-trapping">
        <p><strong>{{trapping.string}}</strong></p>
        <div class="missing-trapping-choice">
          Keep
          <input type="radio" name="missing-{{@index}}" value="keep" {{checked (eq trapping.choice "keep")}}>
        </div>
        <div class="missing-trapping-choice">
          Remove
          <input type="radio" name="missing-{{@index}}" value="remove" {{checked (eq trapping.choice "remove")}}>
        </div>
      </div>
      {{/each}}
    </div>
    


    <p class="centered">Added Trappings</p>
    <div>
      {{#each context.added as |trapping index|}}
      <a class="content-link" draggable="true" data-uuid="{{trapping.uuid}}"><i class="fas fa-suitcase"></i>{{trapping.name}}</a>
      {{/each}}
    </div>


  </div>
  <p class="centered">Drag and drop any other trappings</p>

  <div class="controls">
    <button type="submit">{{localize "Submit"}}</button>
  </div>
  </form>