 
        <div class = "chat-buttons">
            <a class= "chat-button-player" title ='{{localize "CHAT.ContextualMenu"}}'><i class="fas fa-lightbulb"></i></a>
            <a class = "edit-toggle chat-button-gm" title ='{{localize "CHAT.EditTest"}}'><i class="fas fa-edit"></i></a>
            <a class = "opposed-toggle chat-button-gm" title='{{localize "CHAT.OpposedTest"}}'><i class="fas fa-exchange-alt"></i></a>
        </div>
        <div class="card-content test-data" data-actor-id="{{actorId}}" data-loc = "{{test.result.hitloc.roll}}" data-SL = "{{test.result.SL}}" data-roll = "{{test.result.roll}}" data-target = "{{test.result.target}}">
            <b>{{title}}</b>
        </div>
    
        <div class="card-content hide-option display-toggle" >
            <b>{{localize "Roll"}}</b>: 
            {{#if test.isCritical}}
            <span class="critical-roll display-toggle">
            {{/if}}
            {{#if test.isFumble}}
            <span class="fumble-roll display-toggle">
            {{/if}}
            {{test.result.roll}}</span>
            vs {{test.result.target}}
        </div>

        <div class="card-content hide-option display-toggle"  style = "display: none;">
            <b>{{localize "Roll"}}</b>: 
            <input class="card-edit" type="text" data-edit-type = "roll" value = "{{test.result.roll}}">
            vs
            <input class="card-edit" type="text" data-edit-type = "target" value = "{{test.result.target}}">
        </div>
        
        <div class="card-content display-toggle">
           <b>{{localize "SuccessLevels"}}</b>: {{test.result.SL}} 
           {{#if test.doesDamage}} 
            <span class = "card-damage">
                {{{test.DamageString}}}
            </span>
            {{/if}}
        </div>
        <div class="card-content display-toggle " style = "display : none;">
            <b>{{localize "SuccessLevels"}}</b>: <input class="card-edit" type="text" data-edit-type = "SL" value = "{{test.result.SL}}"> 
            {{#if test.result.damage}} 
            <span title="{{test.result.diceDamage.formula}}" class = "card-damage">({{{test.result.damage}}} {{localize "Damage"}})</span>
            {{/if}}
         </div>
        
        <div class="card-content" roll-description = "{{description}}">
            <b>{{localize "Description"}}</b>: {{test.result.description}}
            {{#if test.result.critical}}
            - <a class ="table-click critical-roll" data-modifier="{{test.result.critModifier}}"data-table = "crit{{test.result.hitloc.result}}"><i class="fas fa-list"></i> {{test.result.critical}}</a>
            {{/if}}
            {{#if test.result.nullcritical}}
            - <span>{{test.result.nullcritical}}</span>
            {{/if}}
            {{#if test.result.criticalchannell}}
            - <span class ="critical-roll"> {{test.result.criticalchannell}}</span>
            {{/if}}
            {{#if test.result.fumble}}
            - <a class ="table-click fumble-roll" data-table = "oops"><i class="fas fa-list"></i> {{test.result.fumble}}</a>
            {{/if}}
            {{#if test.result.scatter}}
            - <a class ="table-click" data-table = "scatter"><i class="fas fa-list"></i> {{test.result.scatter}}</a>
            {{/if}}
            {{#if test.result.nullminormis}}
            - <span style = "text-decoration: line-through">{{test.result.nullminormis}}</span>
            {{/if}}
            {{#if test.result.nullmajormis}}
            - <span style = "text-decoration: line-through">{{test.result.nullmajormis}}</span>
            {{/if}}
            {{#if test.result.minormis}}
            - <a class ="table-click fumble-roll" title="{{test.result.tooltips.miscast}}" data-modifier="{{test.result.miscastModifier}}"data-table = "minormis"><i class="fas fa-list"></i> {{test.result.minormis}}</a>
            {{/if}}
    
            {{#if test.result.majormis}}
            - <a class ="table-click fumble-roll" title="{{test.result.tooltips.miscast}}" data-modifier="{{test.result.miscastModifier}}"data-table = "majormis"><i class="fas fa-list"></i> {{test.result.majormis}}</a>
            {{/if}}

            {{#if test.result.catastrophicmis}}
            - <a class ="table-click fumble-roll" title="{{test.result.tooltips.miscast}}" data-modifier="{{test.result.miscastModifier}}"data-table = "catastrophicmis"><i class="fas fa-list"></i> {{test.result.catastrophicmis}}</a>
            {{/if}}

            {{#if test.result.wrath}}
            - <a class ="table-click fumble-roll" data-modifier="{{test.result.wrathModifier}}" data-table = "wrath"><i class="fas fa-list"></i> {{test.result.wrath}} (+{{test.result.wrathModifier}})</a>
            {{/if}}
            {{#if test.result.misfire}}
            - <a class ="table-click fumble-roll" data-damage="{{test.result.misfireDamage}}" data-table = "misfire"><i class="fas fa-list"></i> {{test.result.misfire}}</a>
            {{/if}}
        </div>
    
        {{#if test.result.hitloc}}
        <div class="card-content" roll-description = "{{description}}">
            <b>{{localize "ROLL.HitLocation"}}</b>: {{test.result.hitloc.description}}
            <input class="card-edit display-toggle" style = "display : none;" type="text" data-edit-type = "hitloc" value = "{{test.result.hitloc.roll}}">
        </div>
        {{/if}}

        {{#if test.result.other}}
            {{#if test.result.woundsHealed}}
            <div class="card-content wounds-healed-drag">
            {{else}}
            <div class="card-content">
            {{/if}}
            <b>{{localize "Other"}}</b>: {{{test.result.other}}}
            </div>
        {{/if}}


        {{#each test.effects as |effect e|}}
        <a class="apply-effect" data-effect-id={{effect.id}}>{{localize "CHAT.Apply"}} {{effect.label}}</a>
        {{/each}}
