<form autocomplete="off" onsubmit="event.preventDefault();">

    <div class="form-group">
        <label>Hit Location Table</label>
        <select name="data.details.hitLocationTable.value" data-dtype="String">
            {{#select object.data.details.hitLocationTable.value}}
            {{#each tables as |table key|}}
            <option value = "{{key}}">{{table}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>Auto-calculate Token Size</label>
        <input type="checkbox" name="flags.autoCalcSize" data-dtype="Boolean" checked="{{object.flags.autoCalcSize}}">
    </div>
    
    <button type="submit" name="submit">Submit</button>
</form>
    