<form autocomplete="off" onsubmit="event.preventDefault();">

    {{#if displays.size}}
    <div class="form-group">
        <label>{{localize "CONFIGURE.CalcTokenSize"}}</label>
        <input type="checkbox" name="flags.autoCalcSize" data-dtype="Boolean" {{checked object.data.flags.autoCalcSize}}>
    </div>
    {{/if}}
    
    {{#if displays.movement}}
    <div class="form-group">
        <label>{{localize "CONFIGURE.CalcRun"}}</label>
        <input type="checkbox" name="flags.autoCalcRun" data-dtype="Boolean" {{checked object.data.flags.autoCalcRun}}>
    </div>

    
    <div class="form-group">
        <label>{{localize "CONFIGURE.CalcWalk"}}</label>
        <input type="checkbox" name="flags.autoCalcWalk" data-dtype="Boolean" {{checked object.data.flags.autoCalcWalk}}>
    </div>
    {{/if}}

    
    {{#if displays.wounds}}
    <div class="form-group">
        <label>{{localize "CONFIGURE.CalcWounds"}}</label>
        <input type="checkbox" name="flags.autoCalcWounds" data-dtype="Boolean" {{checked object.data.flags.autoCalcWounds}}>
    </div>
    {{/if}}

    
    {{#if displays.critwounds}}
    <div class="form-group">
        <label>{{localize "CONFIGURE.CalcCritWounds"}}</label>
        <input type="checkbox" name="flags.autoCalcCritW" data-dtype="Boolean" {{checked object.data.flags.autoCalcCritW}}>
    </div>
    {{/if}}

    
    {{#if displays.corruption}}
    <div class="form-group">
        <label>{{localize "CONFIGURE.CalcCorruption"}}</label>
        <input type="checkbox" name="flags.autoCalcCorruption" data-dtype="Boolean" {{checked object.data.flags.autoCalcCorruption}}>
    </div>
    {{/if}}

    
    {{#if displays.encumbrance}}
    <div class="form-group">
        <label>{{localize "CONFIGURE.CalcMaxEnc"}}</label>
        <input type="checkbox" name="flags.autoCalcEnc" data-dtype="Boolean" {{checked object.data.flags.autoCalcEnc}}>
    </div>
    {{/if}}

    {{#if displays.equipPoints}}
    <div class="form-group">
        <label>{{localize "CONFIGURE.EquipPoints"}}</label>
        <input style="flex: unset; width: 30px" type="number" name="flags.equipPoints" data-dtype="Number" value={{object.equipPointsAvailable}}>
    </div>
    {{/if}}
    
    
    {{#if displays.hitloc}}
    <div class="form-group">
        <label>{{localize "Hit Location Table"}}</label>
        <select name="data.details.hitLocationTable.value" data-dtype="String">
            {{#select object.details.hitLocationTable.value}}
            {{#each tables as |table key|}}
            <option value="{{key}}">{{table}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    {{/if}}

    {{#if displays.vehicle}}
    <header class="form-header">
        <h3>{{localize "Vehicle Settings"}}</h3>
    </header>

    <div class="form-group">
        <label>{{localize "Add Encumbrance for Actors"}}</label>
        <input type="checkbox" name="flags.actorEnc" data-dtype="Boolean" {{checked object.data.flags.actorEnc}}>
    </div>
    {{/if}}
    <button type="submit" name="submit">{{localize "Submit"}}</button>
</form>
    