<div class="bug-report">
<div class="form-group">
    <label>Domain</label>
    <select class="domain">
        <option value=""></option>
        {{#select domains}}
        {{#each domains as |domain index|}}
        <option value="{{index}}">{{domain}}</option>
        {{/each}}
        {{/select}}
      </select>
</div>

<div class="form-group">
    <label>Label</label>
    <select class="issue-label">
        <option value=""></option>
        <option value="bug">Bug</option>
        <option value="enhancement">Enhancement</option>
        <option value="translation">Translation</option>
        <option value="mod-incompat">Module Incompatibility</option>
      </select>
</div>

<div class="form-group">
    <label>Contact Infos</label>
    <input type="text" placeholder="Discord Tag or Email." value="{{name}}"class="issuer">
</div>

<div class="form-group">
    <label>Title</label>
    <input type="text" class="bug-title">
</div>

<div class="form-group">
    <label class="wide">Description</label>
</div>
<textarea placeholder="What happened, how to reproduce, etc." class="bug-description"></textarea>

<p class="notification warning">Before submitting a bug report <b>please ensure the WFRP4e System and the modules in question are up to date!</b> </p>
<button type="submit" class="bug-submit">Submit</button>
</div>
