<div class="bug-report">
<div class="form-group">
    <label>{{localize "Domain"}}</label>
    <select class="domain">
        <option value=""></option>
        {{#select domains}}
        {{#each domains as |domain index|}}
        <option value="{{index}}">{{domain}}</option>
        {{/each}}
        {{/select}}
      </select>
</div>

<div class="form-group">
    <label>{{localize "Label"}}</label>
    <select class="issue-label">
        <option value=""></option>
        <option value="bug">Bug</option>
        <option value="enhancement">Enhancement</option>
        <option value="translation">Translation</option>
        <option value="mod-incompat">Module Incompatibility</option>
        <option value="effect">Effect Report</option>
      </select>
</div>

<div class="form-group">
    <label>{{localize "BUGREPORT.Contact"}}</label>
    <input type="text" placeholder="{{localize 'BUGREPORT.ContactPlaceholder'}}" value="{{name}}"class="issuer">
</div>
<p class="notification warning publicity"><b>{{localize "GRIEVANCE.Warning1"}}</b>{{localize "GRIEVANCE.Warning2"}}

<div class="form-group">
    <label>{{localize "Title"}}</label>
    <input type="text" class="bug-title">
</div>

<div class="form-group">
    <label class="wide">{{localize "Description"}}</label>
</div>
<textarea placeholder="{{localize 'BUGREPORT.DescriptionPlaceholder'}}" class="bug-description"></textarea>

<p class="notification warning">{{localize "GRIEVANCE.Warning3"}}<b> {{localize "GRIEVANCE.Warning4"}}</b> </p>
<button type="submit" class="bug-submit">{{localize "Submit"}}</button>
</div>
