<form autocomplete="off" onsubmit="event.preventDefault();">


    {{#each settings as |setting s|}}
    <div class="form-group">
        <label>{{localize setting.name}}</label>
        <div class="form-fields">
        <input type="{{setting.inputType}}" name="{{setting.key}}" data-dtype="{{setting.type.name}}" value="{{setting.value}}" {{checked setting.value}}>
        </div>
        <p class="notes">{{{localize setting.hint}}}</p>
    </div>
    {{/each}}

    <h2>{{localize "SETTINGS.Moo"}}</h2>
    <p class="notes">{{{localize "SETTINGS.MooHint"}}}</p>
    {{#each mooSettings as |setting s|}}
    <div class="form-group">
        <label>{{localize setting.name}}</label>
        <div class="form-fields">
        <input type="{{setting.inputType}}" name="{{setting.key}}" data-dtype="{{setting.type.name}}" value="{{setting.value}}" {{checked setting.value}}>
        </div>
        <p class="notes">{{{localize setting.hint}}}</p>
    </div>
    {{/each}}

    <button type="submit" name="submit">{{localize "Submit"}}</button>
</form>
    