<form autocomplete="off" onsubmit="event.preventDefault();">


    {{#each settings as |setting s|}}
    <div class="form-group">
        <label>{{localize setting.name}}</label>
        <div class="form-fields">
        <input type="{{setting.inputType}}" name="{{setting.key}}" data-dtype="{{setting.type.name}}" value="{{setting.value}}" {{checked setting.value}}>
        </div>
        <p class="notes">{{{localize setting.hint}}}</p>
    </div>
    {{/each}}

    <h2>Moo Man's House Rules</h2>
    <p class="notes">Assorted mechanics change that I believe have potential to improve the game. Note that the ones listed here are not an exhaustive list of the house rules I use, but only those that can be applied in code.<br><br>For the entire list, please see the <a href="https://github.com/moo-man/WFRP4e-FoundryVTT/wiki/Homebrew-Rules">Wiki Page.</a><br>Note that these rules are generally all meant to be used together.<br>Feedback is always appreciated. Please use the <a href="https://github.com/moo-man/WFRP4e-FoundryVTT/discussions/categories/moo-s-house-rules">Github Discussion Board</a> for discussion of the mechanics.</p>
    {{#each mooSettings as |setting s|}}
    <div class="form-group">
        <label>{{localize setting.name}}</label>
        <div class="form-fields">
        <input type="{{setting.inputType}}" name="{{setting.key}}" data-dtype="{{setting.type.name}}" value="{{setting.value}}" {{checked setting.value}}>
        </div>
        <p class="notes">{{{localize setting.hint}}}</p>
    </div>
    {{/each}}

    <button type="submit" name="submit">Submit</button>
</form>
    