<form autocomplete="off" onsubmit="event.preventDefault();">

    <div class="item-properties">
        <div class="property-column">
            <h2 class="property-header">{{localize "Qualities"}}</h2>
            {{#each qualities as |quality q|}}
            <div class="form-group">
                <label>{{quality.name}}</label>
                {{#if quality.hasValue}}
                <input type="text" class="property-input {{quality.key}}" name="{{quality.key}}-value" value="{{quality.existing.value}}">
                {{/if}}
                <input type="checkbox" name="{{quality.key}}" data-dtype="Boolean" {{checked existing}}>
            </div>
            {{/each}}
        </div>
        <div class="property-column">
            <h2 class="property-header">{{localize "Flaws"}}</h2>
            {{#each flaws as |flaw f|}}
            <div class="form-group">
                <label>{{flaw.name}}</label>
                {{#if flaw.hasValue}}
                <input type="text" class="property-input {{flaw.key}}" name="{{flaw.key}}-value" value="{{flaw.existing.value}}">
                {{/if}}
                <input type="checkbox" name="{{flaw.key}}" data-dtype="Boolean" {{checked existing}}>
            </div>
            {{/each}}
        </div>

    </div>


    <button type="submit" name="submit">{{localize "Submit"}}</button>
</form>