<form>

<p>This process will import new documents and overwrite previously imported documents with their content from the Compendium. <b>THIS MEANS ANY CHANGES YOU'VE MADE WILL BE OVERWRITTEN.</b></p>
<ul>
    <li><input type="checkbox" name="actors" checked> Overwrite Actors</li>
    <li><input type="checkbox" name="journals" checked> Overwrite Items</li>
    <li><input type="checkbox" name="items" checked> Overwrite Journals</li>
    <li><input type="checkbox" name="scenes" checked> Overwrite Scenes</li>
</ul>
<ul>
    <li><input type="checkbox" name="excludeNameChange" checked> Exclude Name Changes <i title="Checking this will not update documents if their names have been changed" class="far fa-question-circle"></i></li>
</ul>

</form>
