<form>

<p>{{localize "Updater1"}} <b>{{localize "Updater2"}}</b></p>
<p>{{localize "Updater3"}}</p>
<ul>
    <li><input type="checkbox" name="actors" checked> {{localize "Overwrite Actors"}}</li>
    <li><input type="checkbox" name="journals" checked> {{localize "Overwrite Items"}}</li>
    <li><input type="checkbox" name="items" checked> {{localize "Overwrite Journals"}}</li>
    <li><input type="checkbox" name="scenes" checked> {{localize "Overwrite Scenes"}}</li>
</ul>
<ul>
    <li><input type="checkbox" name="excludeNameChange" checked> {{localize "Exclude Name Changes"}} <i title="{{localize 'ExcludeHint'}}" class="far fa-question-circle"></i></li>
</ul>

</form>
