.wfrp4e.actor.sheet.application {

    --header-label-line : var(--color-cool-3);
    --characteristic-input : var(--color-cool-4);
    --characteristic-header : transparent;
    --characteristic-total : transparent;
    --characteristic-border : var(--color-cool-3);
    --property-icon : var(--color-cool-3);
    
    section.tab {
        overflow-y: auto
    }

    .sheet-header {
        display: flex;
        flex-direction: column;
        img {
            width: 95px;
            height: 95px;
        }
        .header-row {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        .header-rows {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .header-group {
            @include flex;
            margin: 0 0.5rem;
            display:flex;
            flex-direction: column;
            flex: 1;
            input {
                background: none;
                border: none;
                line-height: 1.5rem;
                height: 1.5rem;
                padding: 0 0.1rem;
            }
            label {
                border-top: 1px solid var(--header-label-line);
                padding: 0.1rem 0.1rem;
                text-wrap: nowrap;
            }
        }
    }

    .characteristic-grid {
        display: grid;
        height: 3rem;
        line-height: 1.5rem;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(2, 50%);
        text-align: center;
        border: 1px solid var(--characteristic-border);
        border-right: 0px;
        > * {
            border-right: 1px solid var(--characteristic-border);            

        }
        .header {
            background-color: var(--characteristic-header)

        }
        input {
            border-radius: 0px;
            height: 100%;
            border: none;
            background-color: var(--characteristic-input);
        }

    }

    .characteristic-table {
        margin: 0px;
        border: none;
        border-radius: 0px;
        text-align: center;
        background:none;
        table-layout: fixed;

        tr {
            &:nth-child(even)
            {
                background: none;
            }
            &:last-child {
                td { 
                    border-bottom: none;
                    &:not(:first-of-type)
                    {
                        background-color: var(--characteristic-total);
                    }
                }
            }
            background: none;

        }


        td {
            border: 1px solid var(--characteristic-border);
            height: 1.75rem;
            width: auto;
            &:first-child {
                text-align: left;
                border-left: none;
                overflow: hidden;
                text-overflow: clip;
                width: 200px;
            }
            &:last-child {
                border-right: none;
            }
            
            padding: 0px 0px;
        }
        input {
            border: none;
            height: 100%;
            margin: 0px;
            border-radius: 0px;
            background: var(--characteristic-input);
        }

        .table-header {
            th div {
                position: relative;
                .advancement-indicator {
                    position: absolute;
                    top: -50%;
                    left: 80%;
                    font-size: var(--font-size-14);
                }
            }
        }
    }


    .attribute-box {
        margin: 5px 5px;

        &.movement {
            flex: 2;
            div:nth-child(-n + 3) {
                border-bottom: 1px solid var(--attribute-border);
            }
        }

        &.corruption,
        &.criticals,
        &.wounds {

            a {
                margin: 0px 5px;
                font-size: var(--font-size-12);
            }

            .label {
                border-bottom: 1px solid var(--attribute-border);
            }
        }
    }

    .sheet-list {
        margin-top: 10px;
        .item-property-row {
            height: unset;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            a {
                margin-left: 3px;
            }

            .separator {
                margin-right: 3px;
            }
            .property-icon {
                background: var(--property-icon);
                border-radius: 50%;
                font-weight: bold;
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                margin: 0px 3px;
            }
        }
    }

    fieldset {
        border-color: var(--attribute-border);
        margin: 10px 0px;
    }
    .armour-section 
    {
        .ap-source {
            text-align: center;
            background: var(--mount-outline);
            flex: 0 0 20px;
            border-right: 1px solid var(--ap-border);

            &.armour {
                background: radial-gradient(circle, rgba(221,221,221,0) 0%, rgba(93,20,43,1) 100%);
            }

            &.shield {
                background: radial-gradient(circle, rgba(221,221,221,0) 0%, rgba(92,135,185,1) 100%);
            }

            &.toughness {
                background: radial-gradient(circle, rgba(221,221,221,0) 0%, rgba(27,143,35,1) 100%);
            }
        }
    }
}