@use "../../mixins/flex" as *;

.wfrp4e.actor.sheet.application {

    --header-label-line : var(--color-cool-3);
    --characteristic-input : var(--color-cool-4);
    --characteristic-header : transparent;
    --characteristic-total : transparent;
    --characteristic-border : var(--color-cool-3);
    --property-icon : var(--color-cool-3);
    --tag-border: var(--color-cool-3);
    --tag-bg: transparent;
    
    section.tab {
        overflow-y: auto
    }

    .sheet-header {
        display: flex;
        flex-direction: column;
        img {
            width: 95px;
            height: 95px;
        }

        &.limited {
            height: 145px;
        }
    }

    .editor-section.limited {
        prose-mirror {
            height: calc(100% - 1.5rem);
        }
    }

    .detail-row {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .attribute-box {
            margin-left: 0.5rem;
        }
    }

    .detail-rows {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .detail-group {
        @include flex;
        margin: 0 0.5rem;
        display:flex;
        flex-direction: column;
        flex: 1;
        input {
            background: none;
            border: none;
            line-height: 1.5rem;
            height: 1.5rem;
            padding: 0 0.1rem;
        }
        label {
            border-top: 1px solid var(--header-label-line);
            padding: 0.1rem 0.1rem;
            text-wrap: nowrap;
        }
    }

    .characteristic-grid {
        display: grid;
        height: 3rem;
        line-height: 1.5rem;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(2, 50%);
        text-align: center;
        border: 1px solid var(--characteristic-border);
        border-right: 0px;
        > * {
            border-right: 1px solid var(--characteristic-border);            

        }
        .header {
            background-color: var(--characteristic-header)

        }
        input {
            border-radius: 0px;
            height: 100%;
            border: none;
            background-color: var(--characteristic-input);
        }

    }

    .characteristic-table {
        margin: 0px;
        border: none;
        border-radius: 0px;
        text-align: center;
        background:none;

        tr {
            &:nth-child(even)
            {
                background: none;
            }
            &:last-child {
                td { 
                    border-bottom: none;
                    &:not(:first-of-type)
                    {
                        background-color: var(--characteristic-total);
                    }
                }
            }
            background: none;

        }


        td {
            border: 1px solid var(--characteristic-border);
            height: 1.75rem;
            width: auto;
            &.row-label {
                width: 3rem;
                padding: 0px 0.3rem;
                text-align: left;
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }

            padding: 0px 0px;
        }
        input {
            border: none;
            height: 100%;
            margin: 0px;
            border-radius: 0px;
            background: var(--characteristic-input);
        }

        .table-header {
            th {
                line-height: 1.2rem;
            }
            th div {
                position: relative;
                .advancement-indicator {
                    position: absolute;
                    top: -50%;
                    left: 80%;
                    font-size: var(--font-size-14);
                }
            }
        }
    }


    .attribute-row {
        gap: 5px;
    }

    .attribute-box {
        margin: 5px 0px;

        &.movement {
            flex: 2;
        }

    }

    .sheet-list {
        .item-property-row {
            height: unset;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            a {
                margin-left: 3px;
            }

            .separator {
                margin-right: 3px;
            }
            .property-icon {
                background: var(--property-icon);
                border-radius: 50%;
                font-weight: bold;
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                margin: 0px 3px;
            }
            
            .twohanded-property {
                height: 1.5rem;
                line-height: 1.5rem;
                margin: 0px 3px;
                padding: 0px 5px
            }
        }
    }

    fieldset {
        border-color: var(--attribute-border);
        margin: 10px 0px;
    }
    .armour-section 
    {
        > .flexrow {
            margin-top: 0.5rem;
        }
        .sheet-list {
            margin-top: 0px;
        }
        .ap-source {
            text-align: center;
            background: var(--mount-outline);
            flex: 0 0 20px;
            border-right: 1px solid var(--ap-border);

            &.armour {
                background: radial-gradient(circle, rgba(221,221,221,0) 0%, rgba(93,20,43,1) 100%);
            }

            &.shield {
                background: radial-gradient(circle, rgba(221,221,221,0) 0%, rgba(92,135,185,1) 100%);
            }

            &.toughness {
                background: radial-gradient(circle, rgba(221,221,221,0) 0%, rgba(27,143,35,1) 100%);
            }
        }
    }
    .dropdown-content {
        .tags {
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;

            .tag {
                text-align: center;
                border-radius: 5px;
                border: 1px solid var(--tag-border);
                background: var(--tag-bg);
                padding: 0px 0.2rem;
            }
        }
    }

    .group-actions.expanded {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0.5rem;

        .group-action {
            width: 100%;

        }
    }
}