<div class="corruption-message">
    <h3><strong>{{localize "CHAT.CorruptingInfluence"}}</strong></h3>
    <img src="modules/wfrp4e-core/art/ui/chaos.webp" height="100" width="100">
    {{localize strength}}
</div>
<a class='chat-button' data-action="resist">{{localize "CHAT.Resist"}} {{#if skill}}({{skill}}){{/if}}</a>