<div>
    <div class="xp-amount">
        {{amount}} XP
    </div>

    {{#if reason}}
    <p style="text-align:center; margin-top: 0px;">{{reason}}</p>
    {{/if}}
</div>

<a class='chat-button' data-action='receive'>{{localize "CHAT.Receive"}}</a>