<div class = "browser">
  <div class = "item-filter save-scroll">
    <div>
      <input class="world-filter" type="checkbox" data-filter="worldItems" {{checked filters.attribute.worldItems}}/> {{localize "BROWSER.IncludeWorld"}}
    </div>
      <h2>{{localize "BROWSER.ItemCategories"}}</h2>
      {{#each filters.type as |value filter|}}
      <div>
        <input class="filter" type="checkbox" data-filter="{{filter}}" {{checked value.value}}/> {{localize value.display}}
      </div>
      {{/each}}
      
      <h2>{{localize "BROWSER.FilterOptions"}}</h2>

      <div class= "name filter-top">
       {{localize "Name"}}
        <input class="name-filter" type="text" data-filter="name" value="{{filters.attribute.name}}"/>
      </div>
      <div class="description filter-top">
        {{localize "Description"}}
        <input class="description-filter" type="text" data-filter="description" value="{{filters.attribute.description}}"/>
      </div>

      <div class = "encumbrance filter-top" style = "display: none;">
        {{localize "Encumbrance"}}
        <div class = "comparison-filter">
            <select class="dynamic-filter-comparator" data-filter = "encumbrance">
              <option value=""></option>
              {{#select filters.dynamic.encumbrance.relation}}
              {{#each relations as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
            <input class="dynamic-filter encumbrancce" type="text" data-filter="encumbrance" value="{{filters.dynamic.encumbrance.value}}"/>
        </div>
      </div>

      <div class = "availability filter-top" style = "display: none;">
        {{localize "Availability"}}
        <div>
            <select class="dynamic-filter" data-filter = "availability">
              <option value=""></option>
              {{#select filters.dynamic.availability.value}}
              {{#each availability as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>

      <div class = "ammunitionType filter-top" style = "display: none;">
        {{localize "ITEM.AmmunitionType"}}
        <div>
            <select class="dynamic-filter" data-filter = "ammunitionType">
              <option value=""></option>
              {{#select filters.dynamic.ammunitionType.value}}
              {{#each ammunitionGroups as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "modifiesDamage filter-top" style = "display: none;">
        {{localize "BROWSER.ModifiesDamage"}}
        <div>
            <input class="boolean-filter" type = "checkbox" data-filter = "modifiesDamage" {{checked filters.dynamic.modifiesDamage.value}}></input>
        </div>
      </div>
      <div class = "modifiesRange filter-top" style = "display: none;">
        {{localize "BROWSER.ModifiesRange"}}
        <div>
            <input class="boolean-filter" type = "checkbox" data-filter = "modifiesRange" {{checked filters.dynamic.modifiesRange.value}}></input>
        </div>
      </div>
      <div class = "armorType filter-top" style = "display: none;">
        {{localize "ITEM.ArmourType"}}
        <div>
            <select class="dynamic-filter" data-filter = "armorType">
              <option value=""></option>
              {{#select filters.dynamic.armorType.value}}
              {{#each armorTypes as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "qualitiesFlaws filter-top" style = "display: none;">
        {{localize "Qualities"}}/{{localize "Flaws"}} ({{localize "comma separated"}})
        <input class="csv-filter qualitiesFlaws" type="text" data-filter="qualitiesFlaws" value="{{filters.dynamic.qualitiesFlaws.value}}"/>
      </div>
      <div  class = "protects filter-top" style = "display: none;">
      {{localize "Protects"}}          
        <div>
          {{localize "Head"}} <input class="protects-filter" type = "checkbox" data-filter = "head" {{checked filters.dynamic.protects.value.head}}></input>
        </div>          
        <div>
          {{localize "Body"}} <input class="protects-filter" type = "checkbox" data-filter = "body" {{checked filters.dynamic.protects.value.body}}></input>
        </div>          
        <div>
          {{localize "Arms"}} <input class="protects-filter" type = "checkbox" data-filter = "arms" {{checked filters.dynamic.protects.value.arms}}></input>
        </div>     
        <div>
          {{localize "Legs"}} <input class="protects-filter" type = "checkbox" data-filter = "legs" {{checked filters.dynamic.protects.value.legs}}></input>
        </div>
      </div>
      <div class = "carries filter-top" style = "display: none;">
        {{localize "Carries"}}
        <div class = "comparison-filter">
            <select class="dynamic-filter-comparator" data-filter = "carries">
              <option value=""></option>
              {{#select filters.dynamic.carries.relation}}
              {{#each relations as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
            <input class="dynamic-filter carries" type="text" data-filter="carries" value="{{filters.dynamic.carries.value}}"/>
        </div>
      </div>
      <div class = "wearable filter-top" style = "display: none;">
        {{localize "Wearable"}}
        <div>
            <input class="boolean-filter" type = "checkbox" data-filter = "wearable" {{checked filters.dynamic.wearable.value}}></input>
        </div>
      </div>
      <div class = "location filter-top" style = "display: none;">
        {{localize "Location"}}
        <div>
            <select class="dynamic-filter" data-filter = "location">
              <option value=""></option>
              {{#select filters.dynamic.location.value}}
              {{#each locations as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "wounds filter-top" style = "display: none;">
        {{localize "Wounds"}}
        <div class = "comparison-filter">
            <select class="dynamic-filter-comparator" data-filter = "wounds">
              <option value=""></option>
              {{#select filters.dynamic.wounds.relation}}
              {{#each relations as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
            <input class="dynamic-filter wounds" type="text" data-filter="wounds" value="{{filters.dynamic.wounds.value}}"/>
        </div>
      </div>
      <div class = "symptoms filter-top" style = "display: none;">
        {{localize "Symptoms"}}
        <input class="csv-filter symptoms" type="text" data-filter="symptoms" value="{{filters.dynamic.symptoms.value}}"/>
      </div>
      <div class = "mutationType filter-top" style = "display: none;">
        {{localize "ITEM.MutationType"}}
        <div>
            <select class="dynamic-filter" data-filter = "mutationType">
              <option value=""></option>
              {{#select filters.dynamic.mutationType.value}}
              {{#each mutationTypes as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "careergroup filter-top" style = "display: none;">
        {{localize "Career Group"}}
        <div>
            <select class="dynamic-filter" data-filter = "careergroup">
              <option value=""></option>
              {{#select filters.dynamic.careergroup.value}}
              {{#each careerGroups as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "class filter-top" style = "display: none;">
        {{localize "Career Class"}}
        <div>
            <select class="dynamic-filter" data-filter = "class">
              <option value=""></option>
              {{#select filters.dynamic.class.value}}
              {{#each careerClasses as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "level filter-top" style = "display: none;">
        {{localize "Career Tier"}}
        <div>
            <select class="dynamic-filter" data-filter = "level">
              <option value=""></option>
              {{#select filters.dynamic.level.value}}
              {{#each careerTiers as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "statusTier filter-top" style = "display: none;">
        {{localize "Status Tier"}}
        <div>
            <select class="dynamic-filter" data-filter = "statusTier">
              <option value=""></option>
              {{#select filters.dynamic.statusTier.value}}
              {{#each statusTiers as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "statusStanding filter-top" style = "display: none;">
        {{localize "Status Standing"}}
        <div class = "comparison-filter">
            <select class="dynamic-filter-comparator" data-filter = "statusStanding">
              <option value=""></option>
              {{#select filters.dynamic.statusStanding.relation}}
              {{#each relations as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
            <input class="dynamic-filter statusStanding" type="text" data-filter="statusStanding" value="{{filters.dynamic.statusStanding.value}}"/>
        </div>
      </div>
      <div  class = "characteristics filter-top" style = "display: none;" title = "Example Input: 'Ws, T, fel' (case insensitive)">
        {{localize "Characteristics"}} ({{localize "comma separated"}})
        <input class="csv-filter characteristics" type="text" data-filter="characteristics" value="{{filters.dynamic.characteristics.value}}"/>
      </div>
      <div class = "skills filter-top" style = "display: none;">
        {{localize "Skills"}} ({{localize "comma separated"}})
        <input class="csv-filter skills" type="text" data-filter="skills" value="{{filters.dynamic.skills.value}}"/>
      </div>
      <div class = "talents filter-top" style = "display: none;">
        {{localize "Talents"}} ({{localize "comma separated"}})
        <input class="csv-filter talents" type="text" data-filter="talents" value="{{filters.dynamic.talents.value}}"/>
      </div>
      <div class = "prayerType filter-top" style = "display: none;">
        {{localize "ITEM.PrayerType"}}
        <div>
            <select class="dynamic-filter" data-filter = "prayerType">
              <option value=""></option>
              {{#select filters.dynamic.prayerType.value}}
              {{#each prayerTypes as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "god filter-top" style = "display: none;">
        {{localize "God"}}
        <div>
            <select class="dynamic-filter" data-filter = "god">
              <option value=""></option>
              {{#select filters.dynamic.god.value}}
              {{#each gods as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "duration filter-top" style = "display: none;">
        {{localize "Duration"}}
        <input class="dynamic-filter duration" type="text" data-filter="duration" value="{{filters.dynamic.duration.value}}"/>
      </div>
      <div class = "range filter-top" style = "display: none;">
        {{localize "Range"}}
        <input class="dynamic-filter range" type="text" data-filter="range" value="{{filters.dynamic.range.value}}"/>
      </div>
      <div class = "target filter-top" style = "display: none;">
        {{localize "Targets"}}
        <input class="dynamic-filter target" type="text" data-filter="target" value="{{filters.dynamic.target.value}}"/>
      </div>
      <div class = "magicMissile filter-top" style = "display: none;">
        {{localize "Magic Missile"}}
        <div>
            <input class="boolean-filter" type = "checkbox" data-filter = "magicMissile" {{checked filters.dynamic.magicMissile.value}}></input>
        </div>
      </div>
      <div class = "aoe filter-top" style = "display: none;">
        {{localize "AoE"}}
        <div>
            <input class="boolean-filter" type = "checkbox" data-filter = "aoe" {{checked filters.dynamic.aoe.value}}></input>
        </div>
      </div>
      <div class = "extendable filter-top" style = "display: none;">
        {{localize "Extendable Duration"}}
        <div>
            <input class="boolean-filter" type = "checkbox" data-filter = "extendable" {{checked filters.dynamic.extendable.value}}></input>
        </div>
      </div>
      <div class = "max filter-top" style = "display: none;">
        {{localize "ITEM.TalentMax"}}
        <div>
            <select class="dynamic-filter" data-filter = "max">
              <option value=""></option>
              {{#select filters.dynamic.max.value}}
              {{#each talentMax as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "tests filter-top" style = "display: none;">
        {{localize "ITEM.TalentTests"}}
        <div>
            <input class="dynamic-filter tests" type="text" data-filter="tests" value="{{filters.dynamic.tests.value}}"/>
        </div>
      </div>
      <div class = "trappingType filter-top" style = "display: none;">
        {{localize "ITEM.TrappingType"}}
        <div>
            <select class="dynamic-filter" data-filter = "trappingType">
              <option value=""></option>
              {{#select filters.dynamic.trappingType.value}}
              {{#each trappingTypes as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "characteristic filter-top" style = "display: none;">
        {{localize "Characteristic"}}
        <div>
            <select class="dynamic-filter" data-filter = "characteristic">
              <option value=""></option>
              {{#select filters.dynamic.characteristic.value}}
              {{#each characteristics as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "advanced filter-top" style = "display: none;">
        {{localize "Advanced"}}/{{localize "Basic"}}
        <div>
            <select class="dynamic-filter" data-filter = "advanced">
              <option value=""></option>
              {{#select filters.dynamic.advanced.value}}
              {{#each skillTypes as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "grouped filter-top" style = "display: none;">
        {{localize "ITEM.IsGrouped"}}
        <div>
            <select class="dynamic-filter" data-filter = "grouped">
              <option value=""></option>
              {{#select filters.dynamic.grouped.value}}
              {{#each skillGroup as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "lore filter-top" style = "display: none;">
        {{localize "Lore"}}
        <div>
            <select class="dynamic-filter" data-filter = "lore">
              <option value=""></option>
              {{#select filters.dynamic.lore.value}}
              {{#each lores as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "cn filter-top" style = "display: none;">
        {{localize "CN"}}
        <div class = "comparison-filter">
            <select class="dynamic-filter-comparator" data-filter = "cn">
              <option value=""></option>
              {{#select filters.dynamic.cn.relation}}
              {{#each relations as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
            <input class="dynamic-filter cn" type="text" data-filter="cn" value="{{filters.dynamic.cn.value}}"/>
        </div>
      </div>
      <div class = "rollable filter-top" style = "display: none;">
        {{localize "Rollable"}}
        <div>
            <input class="boolean-filter" type = "checkbox" data-filter = "rollable" {{checked filters.dynamic.rollable.value}}></input>
        </div>
      </div>
      <div class = "weaponGroup filter-top" style = "display: none;">
        {{localize "Weapon Group"}}
        <div>
            <select class="dynamic-filter" data-filter = "weaponGroup">
              <option value=""></option>
              {{#select filters.dynamic.weaponGroup.value}}
              {{#each weaponGroups as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "ammunitionGroup filter-top" style = "display: none;">
        {{localize "ITEM.AmmunitionGroup"}}
        <div>
            <select class="dynamic-filter" data-filter = "ammunitionGroup">
              <option value=""></option>
              {{#select filters.dynamic.ammunitionGroup.value}}
              {{#each ammunitionGroups as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "reach filter-top" style = "display: none;">
        {{localize "Reach"}}
        <div>
            <select class="dynamic-filter" data-filter = "reach">
              <option value=""></option>
              {{#select filters.dynamic.reach.value}}
              {{#each weaponReaches as |value index|}}
              <option value="{{index}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>
      </div>
      <div class = "weaponRange filter-top" style = "display: none;">
        {{localize "Range"}}
        <div class = "comparison-filter">
            <select class="dynamic-filter-comparator" data-filter = "weaponRange">
              <option value=""></option>
              {{#select filters.dynamic.weaponRange.relation}}
              {{#each relations as |value index|}}
              <option value="{{value}}">{{value}}</option>
              {{/each}}
              {{/select}}
            </select>
            <input class="dynamic-filter weaponRange" type="text" data-filter="weaponRange" value="{{filters.dynamic.weaponRange.value}}"/>
        </div>
      </div>
      <div class = "melee filter-top" style = "display: none;">
        {{localize "Melee"}}
        <div>
            <input class="boolean-filter" type = "checkbox" data-filter = "melee" {{checked filters.dynamic.melee.value}}></input>
        </div>
      </div>
      <div class = "ranged filter-top" style = "display: none;">
        {{localize "Ranged"}}
        <div>
            <input class="boolean-filter" type = "checkbox" data-filter = "ranged" {{checked filters.dynamic.ranged.value}}></input>
        </div>
      </div>
      <div class = "twohanded filter-top" style = "display: none;">
        {{localize "ITEM.TwoHanded"}}
        <div>
            <input class="boolean-filter" type = "checkbox" data-filter = "twohanded" {{checked filters.dynamic.twohanded.value}}></input>
        </div>
      </div>
  </div>
  <div class ="query-results">
      <h2>{{localize "BROWSER.ItemList"}}</h2>
      <ol class = "item-list save-scroll">
        {{#each items as |item i|}}
        <li class = "browser-item" data-item-id = {{item.id}} data-filter-id = {{item.filterId}}>
            <div class="image" style="background-image: url({{item.img}})"></div>
            <a class = "name-icon">
              <div class = "item-name">{{item.name}}</div>
              {{#if item.compendium}}
              <div class="icon" title="Compendium Item" style="background-image: url(systems/wfrp4e/ui/sidebar-button-compendium.png)"></div>
              {{else}}
              <div class="icon" title="World Item" style="background-image: url(systems/wfrp4e/ui/sidebar-button-items.png)"></div>
              {{/if}}

            </a>
        </li>
        {{/each}}
      </ol>
  </div>
</div>
