<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.html}}

  <img src="{{item.img}}" {{#if showBorder}}class="no-image-border"{{/if}} data-edit="img"  />  

  <div class="item-details row2">
    <label class="label-text" style="flex-grow: 0; width: 69px;">{{localize "Category"}}</label>
    <div class="input-box category" style="margin-right: 0px; flex-grow: 2; padding-top: 0px; text-align: center;">
      {{localize "Career"}}
    </div>
  </div>


  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

  {{> systems/wfrp4e/templates/items/item-description.html}}

  <div class="tab details" data-tab="details">
    <div class="form-group">
      <label class="label-text">{{localize "Class"}}</label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.class.value" value="{{data.class.value}}"
          data-dtype="{{data.class.type}}" />
      </div>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Career Group"}}</label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.careergroup.value" value="{{data.careergroup.value}}"
          data-dtype="{{data.careergroup.type}}" />
      </div>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Career Level"}}</label>
      <select name="data.level.value" data-dtype="{{data.level.type}}">
        {{#select data.level.value}}
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        {{/select}}
      </select>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Status Tier"}}</label>
      <select name="data.status.tier" data-dtype="String">
        {{#select data.status.tier}}
        <option value=""></option>
        {{#each statusTiers as |t tier|}}
        <option value="{{tier}}">{{t}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Status Standing"}}</label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.status.standing" value="{{data.status.standing}}"
          data-dtype="Number" />
      </div>
    </div>


    <div class="form-group">
      <label class="label-text" id="characteristics-label">{{localize "Characteristics"}}</label>
      <table id="characteristics-table">
        {{#each characteristicList as |charValue charIndex|}}
        <th class="characteristics-box">
          <label class="label-text-char">{{charValue.abrev}}</label>
          {{#if charValue.checked}}
          <a class="char-checkbox" name={{charIndex}}><i class="far fa-check-circle"></i></a>
          {{else}}
          <a class="char-checkbox" name={{charIndex}}><i class="far fa-circle"></i></a>
          {{/if}}
        </th>
        {{/each}}
      </table>
    </div>

    <div class="form-group skills">
      <label class="label-text skills-textarea">{{localize "Skills"}}</label>
      <div class="input-box skills-textarea">
        <textarea class="input-text csv-input" data-dest="skills" type="text" data-dtype="String">{{skills}}</textarea>
      </div>
    </div>


    <div class="form-group">
      <label class="label-text">{{localize "Earning Skill"}}</label>
      <div class="input-box">
        <input class="input-text csv-input" data-dest="earning" value="{{earningSkills}}" type="text"
          data-dtype="String" />
      </div>
    </div>


    <div class="form-group">
      <label class="label-text">{{localize "Talents"}}</label>
      <div class="input-box">
        <input class="input-text csv-input" data-dest="talents" value="{{talents}}" type="text" data-dtype="String" />
      </div>
    </div>


    <div class="form-group">
      <label class="label-text">{{localize "Trappings"}}</label>
      <div class="input-box">
        <input class="input-text csv-input" data-dest="trappings" value="{{trappings}}" type="text"
          data-dtype="String" />
      </div>
    </div>
  </div>
  </section>
</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.sheet');
  length = textContainer.length;

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].className.includes("item-sheet")) {
      new_red = document.getElementsByClassName("app window-app sheet")[i].id;
      
      
      if (document.getElementById(new_red).className.includes("career-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("ammo-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("consumable-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("container-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("disease-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("injury-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("money-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("mutation-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("prayer-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("psychology-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("skill-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("spell-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("talent-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("trait-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("trapping-sheet")) {
        continue;
      } 
      else if (document.getElementById(new_red).className.includes("weapon-sheet")) {
        continue;
      } 
      else {
        document.getElementById(new_red).className += " career-sheet item-sheet";
      }
    } else {}
  }

  
</script>