<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.html category="Weapon" physical=true}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

    {{> systems/wfrp4e/templates/items/item-description.html}}

    <div class="tab details" data-tab="details">
      <div class="form-group">
        <label class="label-text">{{localize "Weapon Group"}}</label>
        <select name="data.weaponGroup.value" data-dtype="{{data.weaponGroup.type}}">
          {{#select data.weaponGroup.value}}
          {{#each (config "weaponGroups") as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Availability"}}</label>
        <select name="data.availability.value" data-dtype={{data.availability.type}}>
          {{#select data.availability.value}}
          {{#each (config "availability") as |avail a|}}
          <option value="{{a}}">{{avail}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "ITEM.SkillOverride"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="data.skill.value" value="{{data.skill.value}}"
            data-dtype="String" />
        </div>
      </div>


      <div class="form-group" title="{{localize 'ITEM.ModeOverrideTT'}}">
        <label class="label-text">{{localize "ITEM.ModeOverride"}}</label>
        <select name="data.modeOverride.value" data-dtype="String">
          {{#select data.modeOverride.value}}
          <option value="">{{localize "Default"}}</option>
          <option value="melee">{{localize "NAME.Melee"}}</option>
          <option value="ranged">{{localize "NAME.Ranged"}}</option>
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Damage"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="data.damage.value" value="{{data.damage.value}}"
            data-dtype="{{data.damage.type}}" />
        </div>
        <div class="input-box">
          <input class="input-text" placeholder="{{localize 'ITEM.DiceRoll'}}" type="text" name="data.damage.dice"
            value="{{data.damage.dice}}" data-dtype="{{data.damage.type}}" />
        </div>
      </div>

      {{#if item.isMelee}}
      <div class="form-group">
        <label class="label-text">{{localize "Reach"}}</label>
        <select name="data.reach.value" data-dtype="{{data.reach.type}}">
          {{#select data.reach.value}}
          <option value=""></option>
          {{#each (config "weaponReaches") as |reach r|}}
          <option value="{{r}}">{{reach}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{else}}

      <div class="form-group">
        <label class="label-text">{{localize "Range"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="data.range.value" value="{{data.range.value}}"
            data-dtype="{{data.range.type}}" />
        </div>
      </div>

      <!-- //@HOUSE -->
      {{#if showOptimal}}
      <div class="form-group">
        <label class="label-text">{{localize "ITEM.OptimalRange"}}</label>
        <select name="flags.wfrp4e.optimalRange" data-dtype="String">
          {{#select item.data.flags.wfrp4e.optimalRange}}
          <option value=""></option>
          {{#each (config "rangeBands") as |band b|}}
          <option value="{{b}}">{{band}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{/if}}
      <!-- //@/HOUSE -->
      
      <div class="form-group">
        <label class="label-text">{{localize "ITEM.AmmunitionGroup"}}</label>
        <select name="data.ammunitionGroup.value" data-dtype="{{data.ammunitionGroup.type}}">
          {{#select data.ammunitionGroup.value}}
          <option value="none">{{localize "NoneAmmo"}}</option>
          {{#each (config "ammunitionGroups") as |group g|}}
          <option value="{{g}}">{{group}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group" title='{{localize "ITEM.ConsumeAmmoTT"}}'>
        <label class="label-text">{{localize "ITEM.ConsumesAmmo"}}</label>
        {{#if data.consumesAmmo.value}}
        <a class="item-checkbox" data-target="data.consumesAmmo.value"><i class="far fa-check-circle"></i></a>
        {{else}}
        <a class="item-checkbox" data-target="data.consumesAmmo.value"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>

      {{/if}}


      <div class="form-group">
        <label class="label-text">{{localize "ITEM.TwoHanded"}}</label>
        {{#if data.twohanded.value}}
        <a class="item-checkbox" data-target="data.twohanded.value"><i class="far fa-check-circle"></i></a>
        {{else}}
        <a class="item-checkbox" data-target="data.twohanded.value"><i class="far fa-circle"></i></a>
        {{/if}}
      </div>

      {{> systems/wfrp4e/templates/partials/qualities-flaws.html}}

      <div class="form-group-stacked">
        <label class="label-text">{{localize "Special"}}</label>
        <div class="input-box">
          <input class="input-text" type="text" name="data.special.value" value="{{data.special.value}}"
            data-dtype="{{data.special.type}}" />
        </div>
      </div>

    </div>
    {{> systems/wfrp4e/templates/items/item-effects.html}}
  </section>
</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.sheet');
  length = textContainer.length;

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].className.includes("item-sheet")) {
      new_red = document.getElementsByClassName("app window-app sheet")[i].id;
      if (document.getElementById(new_red).className.includes("career-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("ammo-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("consumable-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("container-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("disease-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("injury-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("money-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("mutation-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("prayer-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("psychology-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("skill-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("spell-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("talent-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trait-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trapping-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("weapon-sheet")) {
        continue;
      }
      else {
        document.getElementById(new_red).className += " weapon-sheet item-sheet";
      }
    } else { }
  }


</script>