<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.html}}

    <img src="{{item.img}}" {{#if showBorder}}class="no-image-border"{{/if}} data-edit="img"    />

  <div class="item-details row2">
    <label class="label-text" style="flex-grow: 0; width: 69px;">{{localize "Category"}}</label>
    <div class="input-box category" style="margin-right: 0px; flex-grow: 2; padding-top: 0px; text-align: center;">
      {{localize "Skill"}}
    </div>
  </div>

  <nav class="sheet-tabs tabs" data-tab-container="primary">
      <a class="item active" data-tab="description">{{localize "Description"}}</a>
      <a class="item" data-tab="details">{{localize "Details"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

  {{> systems/wfrp4e/templates/items/item-description.html}}

  <!-- Ability Details -->
  <div class="tab details" data-tab="details">

    <div class="form-group">
      <label class="label-text">{{localize "Characteristic"}}</label>
      <select name="data.characteristic.value" data-dtype="{{data.characteristic.type}}">
        {{#select data.characteristic.value}}
        {{#each characteristics as |ch char|}}
        <option value="{{char}}">{{ch}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Skill Type"}}</label>
      <select name="data.advanced.value" data-dtype="{{data.advanced.type}}">
        {{#select data.advanced.value}}
        <option value=""></option>
        {{#each skillTypes as |type sktype|}}
        <option value="{{sktype}}">{{type}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Specialization"}}</label>
      <select name="data.grouped.value" data-dtype="{{data.grouped.type}}">
        {{#select data.grouped.value}}
        <option value=""></option>
        {{#each skillGroup as |grouped skgroup|}}
        <option value="{{skgroup}}">{{grouped}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    {{#if isOwned}}

    <div class="form-group" title='{{localize "TooltipSkillModifier"}}'>
      <label class="label-text">{{localize "Modifier"}}</label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.modifier.value" value="{{data.modifier.value}}" data-dtype="Number">
      </div>
    </div>

    <div class="form-group" title='{{localize "TooltipAllowXPSpending"}}'>
      <label class="label-text">{{localize "AllowXPSpending"}}</label>
      {{#if item.flags.forceAdvIndicator}}
      <a class="item-checkbox" data-target="flags.forceAdvIndicator"><i class="far fa-check-circle"></i></a>
      {{else}}
      <a class="item-checkbox" data-target="flags.forceAdvIndicator"><i class="far fa-circle"></i></a>
      {{/if}}
    </div>
    {{/if}}

    <div class="form-group" title='{{localize "ITEM.CostModifierTT"}}'>
      <label class="label-text">{{localize "ITEM.CostModifier"}}</label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.advances.costModifier" value="{{data.advances.costModifier}}" data-dtype="Number">
      </div>
    </div>

  </div>
  </section>
</form>

<script>
    textContainer = document.querySelectorAll('.app.window-app.sheet');
    length = textContainer.length;
  
    for (i = 0; i < length; i++) {
      if (textContainer[i].children[1].children[0].className.includes("item-sheet")) {
        new_red = document.getElementsByClassName("app window-app sheet")[i].id;
        
        
        if (document.getElementById(new_red).className.includes("career-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("ammo-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("consumable-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("container-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("disease-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("injury-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("money-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("mutation-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("prayer-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("psychology-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("skill-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("spell-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("talent-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("trait-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("trapping-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("weapon-sheet")) {
          continue;
        } 
        else {
          document.getElementById(new_red).className += " skill-sheet item-sheet";
        }
      } else {}
    }
  
    
  </script>