<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.html}}

  <img src="{{item.img}}" {{#if showBorder}}class="no-image-border"{{/if}} data-edit="img"  />

  <div class="item-details row1">
    <label class="label-text">{{localize "Quantity"}}</label>
    <div class="input-box" style="margin-right: 3px;">
      <input class="input-text" style="border-radius: 0px;" type="text" name="data.quantity.value" value="{{data.quantity.value}}"
        data-dtype="{{data.quantity.type}}" />
    </div>
    <label class="label-text" style="margin-left: 3px;">{{localize "Encumbrance"}}</label>
    <div class="input-box">
      <input class="input-text" style="border-radius: 0px;" type="text" name="data.encumbrance.value" value="{{data.encumbrance.value}}"
        data-dtype="{{data.encumbrance.type}}" />
    </div>
  </div>

  <div class="item-details row2">
    <label class="label-text" style="flex-grow: 0; width: 69px;">{{localize "Category"}}</label>
    <div class="input-box category" style="margin-right: 3px; flex-grow: 2; padding-top: 0px; text-align: center; min-width: 96px;">
      {{localize "Armour"}}
    </div>

    <label class="label-text" style="margin-left: 3px;">{{localize "Price"}}</label>
    <div style="margin-right: 0px;" class="input-box">
      <input class="input-text" title="Gold Crowns" style="border-radius: 0px; color: #b18619;" type="text" name="data.price.gc" value="{{data.price.gc}}"
        data-dtype="{{data.price.type}}" placeholder="GC" />
    </div>
    <div style="margin-right: 0px;" class="input-box">
      <input class="input-text" title="Silver Shillings" style="border-radius: 0px; color: #7d7b7b;" type="text" name="data.price.ss" value="{{data.price.ss}}"
        data-dtype="{{data.price.type}}" placeholder="SS" />
    </div>
    <div style="margin-right: 0px;" class="input-box">
      <input class="input-text" title="Brass Pennies" style="border-radius: 0px; color: #a04b00;" type="text" name="data.price.bp" value="{{data.price.bp}}"
        data-dtype="{{data.price.type}}" placeholder="BP" />
    </div>    
  </div>

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
  </nav>
  <div class="sheet-tabs edges left" ></div>
  <div class="sheet-tabs edges right" ></div>

  <section class="content">
  {{> systems/wfrp4e/templates/items/item-description.html}}

  <div class="tab details" data-tab="details">


    <div class="form-group">
      <label class="label-text">{{localize "Availability"}}</label>
      <select name="data.availability.value" data-dtype={{data.availability.type}}>
        {{#select data.availability.value}}
        {{#each availability as |avail a|}}
        <option value="{{a}}">{{avail}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "ITEM.ArmourType"}}</label>
      <select name="data.armorType.value" data-dtype={{data.armorType.type}}>
        {{#select data.armorType.value}}
        {{#each armorTypes as |type t|}}
        <option value="{{t}}">{{type}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>


    <div class="form-group">
      <label class="label-text">{{localize "Head"}}: </label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.maxAP.head" value="{{data.maxAP.head}}" data-dtype="Number" />
      </div>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Body"}}: </label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.maxAP.body" value="{{data.maxAP.body}}" data-dtype="Number" />
      </div>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Left Arm"}}: </label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.maxAP.lArm" value="{{data.maxAP.lArm}}" data-dtype="Number" />
      </div>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Right Arm"}}: </label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.maxAP.rArm" value="{{data.maxAP.rArm}}" data-dtype="Number" />
      </div>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Left Leg"}}: </label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.maxAP.lLeg" value="{{data.maxAP.lLeg}}" data-dtype="Number" />
      </div>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Right Leg"}}: </label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.maxAP.rLeg" value="{{data.maxAP.rLeg}}" data-dtype="Number" />
      </div>
    </div>

    <div class="form-group">
      <label class="label-text">{{localize "Penalty"}}</label>
      <div class="input-box">
        <input class="input-text" type="text" title="Comma-separated if multiple (-20 Stealth, -10 Perception)"
          name="data.penalty.value" value="{{data.penalty.value}}" data-dtype="{{data.penalty.type}}" />
      </div>
    </div>

    <div class="form-group-stacked">
      <label class="label-text">{{localize "Qualities"}} (comma-separated)</label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.qualities.value" value="{{data.qualities.value}}"
          data-dtype="{{data.properties.type}}" />
      </div>
    </div>

    <div class="form-group-stacked">
      <label class="label-text">{{localize "Flaws"}} (comma-separated)</label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.flaws.value" value="{{data.flaws.value}}"
          data-dtype="{{data.properties.type}}" />
      </div>
    </div>

    <div class="form-group-stacked">
      <label class="label-text">{{localize "Special"}}</label>
      <div class="input-box">
        <input class="input-text" type="text" name="data.special.value" value="{{data.special.value}}"
          data-dtype="{{data.special.type}}" />
      </div>
    </div>

  </div>
</section>
</form>

<script>
    textContainer = document.querySelectorAll('.app.window-app.sheet');
    length = textContainer.length;
  
    for (i = 0; i < length; i++) {
      if (textContainer[i].children[1].children[0].className.includes("item-sheet")) {
        new_red = document.getElementsByClassName("app window-app sheet")[i].id;
        
        
        if (document.getElementById(new_red).className.includes("career-sheet")) {
          continue;
        } 
        if (document.getElementById(new_red).className.includes("career-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("equipment-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("consumable-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("container-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("disease-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("injury-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("money-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("mutation-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("prayer-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("psychology-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("skill-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("spell-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("talent-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("trait-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("trapping-sheet")) {
          continue;
        } 
        else if (document.getElementById(new_red).className.includes("weapon-sheet")) {
          continue;
        } 
        else {
          document.getElementById(new_red).className += " equipment-sheet item-sheet";
        }
      } else {}
    }
  
    
  </script>

