<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
  {{> systems/wfrp4e/templates/items/item-header.html category="Disease" physical=false}}

  <nav class="sheet-tabs tabs" data-tab-container="primary">
    <a class="item active" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="details">{{localize "Details"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>
  </nav>
  <div class="sheet-tabs edges left"></div>
  <div class="sheet-tabs edges right"></div>

  <section class="content">

    {{> systems/wfrp4e/templates/items/item-description.html}}

    <!-- Ability Details -->
    <div class="tab" data-tab="details">

      <div class="form-group">
        <label class="label-text">{{localize "Contraction"}}</label>
        <div class="input-box">
          <input class="input-text" name="data.contraction.value" value="{{data.contraction.value}}"
            data-dtype="{{data.contraction.type}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Incubation"}}</label>
        <div class="input-box">
          <input class="input-text" name="data.incubation.value" value="{{data.incubation.value}}"
            data-dtype="{{data.incubation.type}}" />
        </div>
        <select class="disease-unit" name="data.incubation.unit" data-dtype="{{data.incubation.type}}">
          <option value=""></option>
          {{#select data.incubation.unit}}
          <option value="{{localize "Days"}}">{{localize "Days"}}</option>
          <option value="{{localize "Hours"}}">{{localize "Hours"}}</option>
          <option value="{{localize "Minutes"}}">{{localize "Minutes"}}</option>
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Duration"}}</label>
        <div class="input-box">
          <input class="input-text" name="data.duration.value" value="{{data.duration.value}}"
            data-dtype="{{data.duration.type}}" />
        </div>
        <select class="disease-unit" name="data.duration.unit" data-dtype="{{data.duration.type}}">
          <option value=""></option>
          {{#select data.duration.unit}}
          <option value="{{localize "Days"}}">{{localize "Days"}}</option>
          <option value="{{localize "Minutes"}}">{{localize "Minutes"}}</option>
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Symptoms"}}</label>
        <div class="input-box">
          <input class="input-text symptom-input" value="{{data.symptoms.value}}" data-dtype="{{data.symptoms.type}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="label-text">{{localize "Permanent"}}</label>
        <div class="input-box">
          <input class="input-text" name="data.permanent.value" value="{{data.permanent.value}}"
            data-dtype="{{data.permanent.type}}" />
        </div>
      </div>

    </div>

    {{> systems/wfrp4e/templates/items/item-effects.html}}

  </section>
</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.sheet');
  length = textContainer.length;

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].className.includes("item-sheet")) {
      new_red = document.getElementsByClassName("app window-app sheet")[i].id;


      if (document.getElementById(new_red).className.includes("career-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("ammo-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("consumable-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("container-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("disease-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("injury-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("money-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("mutation-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("prayer-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("psychology-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("skill-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("spell-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("talent-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trait-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trapping-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("weapon-sheet")) {
        continue;
      }
      else {
        document.getElementById(new_red).className += " disease-sheet item-sheet";
      }
    } else { }
  }


</script>