<div class="script-list">
    {{#each scripts}}
        <div class="script" data-index="{{@key}}">
            <a class="script-edit"><i class="fa-solid fa-gear-complex-code"></i></a>
            <label>{{this.label}}</label>
            <label style="opacity: 0.7">{{configLookup "scriptTriggers" this.trigger}}</label>
            <a class="script-delete"><i class="fa-solid fa-xmark"></i></a>
        </div>
    {{/each}}
<button type="button" class="add-script"><i class="fa-solid fa-plus"></i></button>
</div>