<form>
    <div style="height: calc(100% - 40px)">
        {{{extraFieldsHTML}}}
        {{#if aceActive}}
            <div class="ace-editor" style="height: calc(100% - 70px)"></div>
        {{else}}
        <div class="form-group stacked">
            <label>Script</label>
            <div>
                <textarea class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="script">{{script}}</textarea>
            </div>
        </div>
        {{/if}}
    </div>
    {{#if (isGM)}}
    <button type="submit">{{localize "Submit"}}</button>
    {{/if}}
</form>