<form class="script-config-form">
    {{{extraFieldsHTML}}}
    {{#if aceActive}}
        <div class="ace-editor"></div>
    {{else}}
    <div class="form-group stacked script-box">
        <label>Script</label>
        <textarea class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="script" spellcheck="false">{{script}}</textarea>
    </div>
    {{/if}}
    {{#if (isGM)}}
    <button type="submit">{{localize "Submit"}}</button>
    {{/if}}
</form>