<form autocomplete="off" onsubmit="event.preventDefault();">
    {{#each settings as |setting s|}}
    <div class="form-group">
        <label>{{localize setting.label}}</label>
        <div class="form-fields">
        <select name="{{s}}">
            <option value=""></option>
            {{#select setting.selected}}
            {{#each setting.choices as |choice index|}}
                <option value="{{choice.id}}">{{choice.name}}</option>
            {{/each}}
            {{/select}}
        </select>
        </div>
    </div>
    {{/each}}

    <button type="submit" name="submit">{{localize "Submit"}}</button>
</form>
    