@import "./actors/index";

.theme-light .wfrp4e.item.sheet.application,
    .theme-light .wfrp4e.actor.sheet.application {
    --header-label-line : var(--color-dark-6);
    --characteristic-input : transparent;
    --characteristic-total : rgba(0, 0, 0, 0.1);
    --characteristic-header : rgba(0, 0, 0, 0.1);
    --characteristic-border : var(--color-dark-6);
    --attribute-input : transparent;
    --attribute-input-border : transparent;
    --attribute-border : var(--color-dark-6);
    --attribute-locked-input : rgba(0, 0, 0, 0.1);
    --attribute-locked-border : transparent;
    --attribute-label : rgba(0, 0, 0, 0.1);;
    --attribute-field : transparent;

    --experience-header : rgba(0, 0, 0, 0.1);
    --experience-header-border : var(--color-dark-6);

    --property-icon : transparent;

    --ap-border : var(--color-dark-6);
    --mount-outline: var(--color-cool-5-25);

    --condition-label : rgba(0, 0, 0, 0.1);
    --condition-border : rgba(0, 0, 0, 0.1);
    --condition-control-bg : transparent;   

    --advances-border : #999;
    --container-lines : var(--color-dark-6);

    --career-header : rgba(0, 0, 0, 0.1);
    --career-input: rgba(0, 0, 0, 0.1);

}