@import "./actors/index";

.theme-light .wfrp4e.sheet.application {
    --header-label-line : var(--color-dark-6);
    --tab-color : var(--color-border-light-primary);
    --characteristic-input : transparent;
    --characteristic-total : rgba(0, 0, 0, 0.1);
    --characteristic-header : rgba(0, 0, 0, 0.1);
    --characteristic-border : var(--color-dark-6);
    --attribute-input : transparent;
    --attribute-input-border : transparent;
    --attribute-border : var(--color-dark-6);
    --attribute-locked-input : rgba(0, 0, 0, 0.1);
    --attribute-locked-border : transparent;
    --attribute-label : rgba(0, 0, 0, 0.1);;
    --attribute-field : transparent;
    --list-header : rgba(0, 0, 0, 0.1);
    --list-header-border : var(--color-dark-6);
    --list-row-alternate : rgba(0, 0, 0, 0.05);

    --editor-header : rgba(0, 0, 0, 0.1);
    --editor-header-border : var(--color-dark-6);

    --experience-header : rgba(0, 0, 0, 0.1);
    --experience-header-border : var(--color-dark-6);

    --form-label : rgba(0, 0, 0, 0.1);//var(--color-dark-6);
    --form-input : transparent;
    --form-input-border : transparent;
    --form-group-border : var(--color-dark-6);
    --property-icon : transparent;

    --ap-border : var(--color-dark-6);
    --mount-outline: var(--color-cool-5-25);

    --condition-label : rgba(0, 0, 0, 0.1);
    --condition-border : rgba(0, 0, 0, 0.1);
    --condition-control-bg : transparent;   

    --advances-border : #999;
    --container-lines : var(--color-dark-6);

    --hover-bg : var(--color-cool-5);


}