@import "./actors/index";

.wfrp4e.sheet {

    nav.sheet-tabs {
        border-color: var(--color-cool-3);
        a {
            flex: 1
        }
        .active {
            background-color: var(--color-cool-3);
            text-shadow: none;
        }

    }

    .form-group {
        input {
            border-radius: 0px;
        }
        label {
            border-right: 1px solid var(--color-cool-3);
            height: var(--input-height);
            line-height: var(--input-height);
            text-align: center;
        }
        border: 1px solid var(--color-cool-3);
    }

    .editor-section {
        .header {
            height: 1.5rem;
            line-height: 1.5rem;
            padding-left: 5px;
            background: var(--color-cool-3);
        }
        min-height: 100px;
        .editor-content {
        }
    }

    .sheet-list {
        display: flex;
        flex-direction: column;
        margin-top: 3px;

        .list-row {
            display: flex;
            flex-direction: column;
            width: 100%;
            line-height: 2rem;
            &:nth-child(even)
            {
                background-color: var(--color-cool-4);
            }
        }

        .list-header {
            background-color: var(--color-cool-4);
            height: 1.5rem;
            line-height: 1.5rem;

            .list-name {
                margin: 0px 5px;
            }

            .list-button {
                flex: 0 0 10px;
                margin: 0px 10px
            }
        }

        &.condensed {
            .list-row {
                height: 1.5rem;
                line-height: 1.5rem;
            }
            .list-content {
                .row-content {
                    height: 1.5rem;
                }
            }
        }

        .list-content {
            .row-content {
                height: 2rem;
            }
        }

        .row-content {
            display: flex;
            width: 100%;
            text-align: center;

            .list-name {
                display: flex;
                align-items: center;
                text-align: left;

                img {
                    flex: 0 0 2rem;
                    height: 2rem;
                    width: 2rem;
                }

                .label {
                    margin: 0px 5px;
                }


                flex: 2;
            }

            .list-controls {
                flex: 0 0 2rem;

                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            input,
            select 
            {
                height: 100%;
                width: 100%;
                padding: 0px;
                border-radius: 0px;
        }

            >* {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                
                flex: 0 0 100px;

                &.flex {
                    flex: 1
                }

                &.fit {
                    flex: unset
                }
            }

            .large {
                flex: 0 0 200px;

                &.flex {
                    flex: 2;
                }
            }

            .small {
                flex: 0 0 50px;

                &.flex {
                    flex: 0.5
                }
            }

            .tiny {
                flex: 0 0 25px;
            }
        }

    }
}