.wfrp4e.sheet.application {
    --condition-label : transparent;
--condition-border : var(--color-cool-3);
--condition-control-bg : var(--color-cool-4);  


    section.tab[data-tab="effects"] {
        &.active {
            display : flex;
        }
        .condition-section {
            display: flex;
            flex-direction: column;
            flex: 0 0 8rem;
            margin-right: 0.5rem;
            gap: 3px;
            .condition {
                height: 2rem;
                line-height: 2rem;
                display : flex;
                justify-content: space-between;
                > :first-of-type {
                    background: var(--condition-label);
                    border: 1px solid var(--condition-border);
                    border-right: none;
                    padding: 0px 5px;
                    width: 100%;
                }
                .controls {
                    background: var(--condition-control-bg);
                    border: 1px solid var(--condition-border);
                    border-left: none;
                    text-align: center;
                    font-size: var(--font-size-16);
                    flex: 0 0 2rem;
                }
            }
        }

        .effect-lists {
            flex: 1;
            .flex {
                i {
                    margin-right: 3px;
                }
            }
        }
    } 
}