@import "./actors/index";

.wfrp4e.sheet.application {
    --tab-color : var(--color-cool-3);
    --list-header : var(--color-cool-4);
    --list-header-border : var(--color-cool-3);
    --list-row-alternate : #3028318f; // cool-3 at half transparency
    --form-label : transparent;
    --form-input : var(--color-cool-4);
    --form-input-border : transparent;
    --form-group-border : var(--color-cool-3);

    --editor-header : var(--color-cool-3);
    --editor-header-border : transparent;

    --hover-bg : transparent;

    .positive {
        color: var(--color-level-success)
    }

    .negative {
        color: var(--color-level-error)
    }

    .rollable {
        > * {
            cursor: pointer;
        }
        &:hover {
            img {
                box-shadow: 0px 0px 10px var(--color-cool-3) inset;
                background: var(--hover-bg)
            }
        }
    }

    nav.sheet-tabs {
        border-color: var(--tab-color);
        gap: 0px;
        a {
            flex: 1
        }
        .active {
            background-color: var(--tab-color);
            text-shadow: none;
        }

        > [data-tab]
        {
            padding: 8px 0px;
            flex: 1;
        }

    }

    .form-group {
        select,
        input {
            border-radius: 0px;
            background: var(--form-input);
            border-color: var(--form-input-border);
        }
        label {
            border-right: 1px solid var(--form-group-border);
            height: var(--input-height);
            line-height: var(--input-height);
            text-align: center;
            background: var(--form-label)
        }
        border: 1px solid var(--form-group-border);
    }

    .editor-section {
        .header {
            height: 1.5rem;
            line-height: 1.5rem;
            padding-left: 5px;
            background: var(--editor-header);
            border: 1px solid var(--editor-header-border);
        }
        min-height: 100px;
        .editor-content {
        }
    }

    
    .sheet-effect-buttons {
        margin: 3px 0px;
        height: 1rem;
        display: flex;
        button {
            flex : 0 0 content;
            font-size: var(--font-size-12);
        } 
    }

    .sheet-list {
        display: flex;
        flex-direction: column;
        margin-top: 3px;

        .list-row {
            display: flex;
            flex-direction: column;
            width: 100%;
            line-height: 2rem;
            &:nth-child(even)
            {
                background-color: var(--list-row-alternate);
            }
        }

        .list-header {
            background-color: var(--list-header);
            height: 1.5rem;
            line-height: 1.5rem;
            border: 1px solid var(--list-header-border);

            .list-name {
                margin: 0px 5px;
            }

            .list-button {
                flex: 0 0 10px;
                margin: 0px 10px
            }
        }

        &.condensed {
            .list-row {
                height: 1.5rem;
                line-height: 1.5rem;
            }
            .list-content {
                .row-content {
                    height: 1.5rem;
                }
            }
        }

        .list-content {
            .row-content {
                height: 2rem;
            }
        }

        .row-content {
            display: flex;
            width: 100%;
            text-align: center;

            .list-name {
                display: flex;
                align-items: center;
                text-align: left;

                img {
                    flex: 0 0 2rem;
                    height: 2rem;
                    width: 2rem;
                }

                .label {
                    margin: 0px 5px;
                }


                flex: 2;
            }

            .list-controls {
                flex: 0 0 2rem;

                display: flex;
                align-items: center;
                justify-content: space-around;

                .list-control {
                    flex: 1
                }
            }

            input,
            select 
            {
                height: 100%;
                width: 100%;
                padding: 0px;
                border-radius: 0px;
                border: none;
        }

            >* {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                flex: 0 0 100px;
                
                &.flex {
                    flex: 1;
                }

                &.fit {
                    flex: unset
                }
            }

            .large {
                flex: 0 0 200px;

                &.flex {
                    flex: 2;
                }
            }

            .small {
                flex: 0 0 50px;

                &.flex {
                    flex: 0.5
                }
            }

            .tiny {
                flex: 0 0 25px;
            }
        }

        .dropdown-content {

            transition: height 0.3s ease-in-out;
            overflow: hidden;
            line-height: 1.5rem;
            box-sizing: border-box;
            &.expanded {
                padding: 5px;
                > * {
                    margin: 0px;
                }
            }
            &.collapsed {
                height: 0px;
            }
        }

        .progress-bar {
            margin: 4px 0px;
            display: flex;
            width: 100%;
            border: 1px solid var(--color-warm-3);
            height: 50%;
            height: 1rem;
            .fill {
                background-color: var(--color-warm-3);
            }
        }
    
    }
}