<div class="tab biography" data-group="primary" data-tab="biography">
    {{editor enrichment.system.details.biography.value target="system.details.biography.value" engine="prosemirror" button=true owner=owner editable=editable}}
</div>